<span ng-style="options.sizeBg" style="position: absolute;background-repeat: no-repeat;
background-size: 100% 100%;" >
    <!-- ng-style="options.sizeBg" style="position: absolute;background-repeat: no-repeat;
background-size: 100% 100%;"  -->
    <!-- restful发送图片 -->
    <span ng-click="imgSave()" id="imgH" style="position: absolute;
    top: -4px;
    left: 95%;
    z-index: 999;">
        ⊙
    </span>
    <!-- 下拉框 -->
    <div style="width: 20%; z-index: 999;" ng-if="options.form.zAxisColumn!=='不筛选'&&options.showCondition">
        <ui-select name="filterColumn" required ng-model="options.form.filterColumn">
            <ui-select-match placeholder="选择数据...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="column in options.filtersNames">
                <span ng-bind-html="column | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>

    <div style="width: 20%; z-index: 999;" ng-if="options.showCondition1">
        <ui-select name="yAxisColumns" required ng-model="options.condition1.where">
            <ui-select-match placeholder="选择条件...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="column in options.conditionColList1">
                <span ng-bind-html="column | highlight: $select.search"></span>
                <span> </span>
                <small class="text-muted" ng-bind="columns[column].type"></small>
            </ui-select-choices>
        </ui-select>
    </div>

    <div style="width: 20%; z-index: 999;" ng-if="options.showCondition2">
        <ui-select name="yAxisColumns" required ng-model="options.condition2.where">
            <ui-select-match placeholder="选择条件...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="column in options.conditionColList2">
                <span ng-bind-html="column | highlight: $select.search"></span>
                <span> </span>
                <small class="text-muted" ng-bind="columns[column].type"></small>
            </ui-select-choices>
        </ui-select>
    </div>

    <div style="width: 20%; z-index: 999;" ng-if="options.showCondition3">
        <ui-select name="yAxisColumns" required ng-model="options.condition3.where">
            <ui-select-match placeholder="选择条件...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="column in options.conditionColList3">
                <span ng-bind-html="column | highlight: $select.search"></span>
                <span> </span>
                <small class="text-muted" ng-bind="columns[column].type"></small>
            </ui-select-choices>
        </ui-select>
    </div>

    <div id="main" resize-event="handleResize()"  ng-style="options.size" >
 
    </div>

</span>
