<div>
    <ul class="tab-nav">
        <li ng-class="{active: currentTab == 'general'}">
            <a ng-click="changeTab('general')">基础设置</a>
        </li>
        <li ng-class="{active: currentTab == 'xaxis'}">
            <a ng-click="changeTab('xaxis')">X轴设置</a>
        </li>
        <li ng-class="{active: currentTab == 'yaxis'}">
            <a ng-click="changeTab('yaxis')">Y轴设置</a>
        </li>
        <li ng-class="{active: currentTab == 'dataseries'}">
            <a ng-click="changeTab('dataseries')">数据系列设置</a>
        </li>
        <!-- <li ng-class="{active: currentTab == 'markarea'}">
            <a ng-click="changeTab('markarea')">数据标记区域设置</a>
        </li> -->
        <li ng-class="{active: currentTab == 'markline'}">
            <a ng-click="changeTab('markline')">数据标记线设置</a>
        </li>
        <li ng-class="{active: currentTab == 'markpoint'}">
            <a ng-click="changeTab('markpoint')">数据标记点设置</a>
        </li>
        <li ng-class="{active: currentTab == 'colors'}">
            <a ng-click="changeTab('colors')">颜色设置</a>
        </li>
        <li ng-class="{active: currentTab == 'tooltip'}">
            <a ng-click="changeTab('tooltip')">提示框设置</a>
        </li>
        <li ng-class="{active: currentTab == 'others'}">
            <a ng-click="changeTab('others')">其他设置</a>
        </li>
        <li ng-class="{active: currentTab == 'code'}">
            <a ng-click="changeTab('code')">用户自定义</a>
        </li>
    </ul>
    <div ng-if="currentTab == 'general'" class="m-t-10 m-b-10">
        <!-- <div class="form-group">
            <label class="control-label">{{'CHART_EDITOR.CHART_TYPE' | translate}}</label>
            <div ng-if="chartTypes">
                <ui-select ng-model="options.form.chartType" ng-change="chartTypeChanged(selectedChartType)">
                    <ui-select-match placeholder="选择图表种类">
                        <div>
                            <i class="fa fa-{{$select.selected.value.icon}}"></i>
                            {{$select.selected.value.name}}
                        </div>
                    </ui-select-match>
                    <ui-select-choices repeat="info.chartType as (chartType, info) in chartTypes">
                        <div>
                            <i class="fa fa-{{info.value.icon}}"></i>
                            <span> </span>
                            <span ng-bind-html="info.value.name | highlight: $select.search"></span>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div> -->

        <!-- <div class="form-group">
            <label class="control-label">图表标题背景颜色</label>
            <ui-select ng-model="options.title.backgroundColor">
                <ui-select-match placeholder="背景颜色...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="Color.value as Color in Colors">
                    <div ng-bind-html="Color.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div> -->

        <div class="form-group">
            <label class="control-label">图表标题对齐方式</label>
            <ui-select ng-model="options.title.textAlign">
                <ui-select-match placeholder="对齐方式...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="TextAlign.value as TextAlign in TextAligns">
                    <div ng-bind-html="TextAlign.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label class="control-label">图表标题水平位置(单位:px)</label>
            <input name="name" type="text" class="form-control" ng-model="options.title.left" placeholder="" />
        </div>
        <div class="form-group">
            <label class="control-label">图表标题垂直位置(单位:px)</label>
            <input name="name" type="text" class="form-control" ng-model="options.title.top" placeholder="" />
        </div>
        <div class="form-group">
            <label class="control-label">图表主标题</label>
            <input name="name" type="text" class="form-control" ng-model="options.title.text" placeholder="" />
        </div>

        <div class="form-group">
            <label class="control-label">图表主标题字体颜色</label>
            <ui-select ng-model="options.title.textStyle.color">
                <ui-select-match placeholder="主标题字体颜色...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="Color.value as Color in Colors">
                    <div ng-bind-html="Color.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label class="control-label">图表主标题字体大小</label>
            <input name="name" type="text" class="form-control" ng-model="options.title.textStyle.fontSize"
                placeholder="25" />
        </div>
        <div class="form-group">
            <label class="control-label">图表主标题粗细</label>
            <ui-select ng-model="options.title.textStyle.fontWeight">
                <ui-select-match placeholder="主标题字体粗细...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="LabelFontWeight.value as LabelFontWeight in LabelFontWeights">
                    <div ng-bind-html="LabelFontWeight.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label class="control-label">图表主标题字体风格</label>
            <ui-select ng-model="options.title.textStyle.fontStyle">
                <ui-select-match placeholder="字体风格...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="FontStyle.value as FontStyle in FontStyles">
                    <div ng-bind-html="FontStyle.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label class="control-label">图表主标题字体系列</label>
            <ui-select ng-model="options.title.textStyle.fontFamily">
                <ui-select-match placeholder="字体系列...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="LabelFontFamily.value as LabelFontFamily in LabelFontFamilys">
                    <div ng-bind-html="LabelFontFamily.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <hr>
        <div class="form-group">
            <label class="control-label">图表副标题</label>
            <input name="name" type="text" class="form-control" ng-model="options.title.subtext" placeholder="" />
        </div>

        <div class="form-group">
            <label class="control-label">图表副标题字体颜色</label>
            <ui-select ng-model="options.title.subtextStyle.color">
                <ui-select-match placeholder="副标题字体颜色...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="Color.value as Color in Colors">
                    <div ng-bind-html="Color.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label class="control-label">图表副标题字体大小</label>
            <input name="name" type="text" class="form-control" ng-model="options.title.subtextStyle.fontSize"
                placeholder="18" />
        </div>
        <div class="form-group">
            <label class="control-label">图表副标题粗细</label>
            <ui-select ng-model="options.title.subtextStyle.fontWeight">
                <ui-select-match placeholder="副标题字体粗细...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="LabelFontWeight.value as LabelFontWeight in LabelFontWeights">
                    <div ng-bind-html="LabelFontWeight.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label class="control-label">图表副标题字体风格</label>
            <ui-select ng-model="options.title.subtextStyle.fontStyle">
                <ui-select-match placeholder="字体风格...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="FontStyle.value as FontStyle in FontStyles">
                    <div ng-bind-html="FontStyle.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label class="control-label">图表副标题字体系列</label>
            <ui-select ng-model="options.title.subtextStyle.fontFamily">
                <ui-select-match placeholder="字体系列...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="LabelFontFamily.value as LabelFontFamily in LabelFontFamilys">
                    <div ng-bind-html="LabelFontFamily.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <hr>
        <div class="form-group">
            <label class="control-label">图表横轴所在数据</label>
            <ui-select name="xAxisColumn" required ng-model="options.form.xAxisColumn">
                <ui-select-match placeholder="选择列...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="column in columnNames">
                    <span ng-bind-html="column | highlight: $select.search"></span>
                    <span> </span>
                    <small class="text-muted" ng-bind="columns[column].type"></small>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label class="control-label">图表纵轴所在数据集</label>

            <ui-select multiple name="yAxisColumns" required ng-model="options.form.yAxisColumns">
                <ui-select-match placeholder="选择列...">{{$item}}</ui-select-match>
                <ui-select-choices
                    repeat="column in columnNames | remove:form.groupby | remove:options.form.xAxisColumn">
                    <span ng-bind-html="column | highlight: $select.search"></span>
                    <span> </span>
                    <small class="text-muted" ng-bind="columns[column].type"></small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div ng-if="currentTab == 'colors'" class="m-t-10 m-b-10">
        <div class="form-group">
            <label class="control-label">背景颜色</label>
            <ui-select ng-model="options.backgroundColor">
                <ui-select-match placeholder="背景颜色...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="Color.value as Color in BackgroundColors">
                    <div ng-bind-html="Color.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

    </div>
    <div ng-if="currentTab == 'tooltip'" class="m-t-10 m-b-10">
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.tooltip.show">
                显示提示框
            </label>
        </div>
        <div class="form-group" ng-if="options.tooltip.show">
            <label class="control-label">提示框格式</label>
            <br>
            <input name="name" type="text" style="width: 150px;" ng-model="options.Text_a" placeholder="" />
            <input name="name" type="text" style="width: 150px;" placeholder="系列名称" disabled="true" />
            <input name="name" type="text" style="width: 150px;" ng-model="options.a_Text" placeholder="" />
            <input name="name" type="text" style="width: 150px;" ng-model="options.Text_b" placeholder="" />
            <input name="name" type="text" style="width: 150px;" placeholder="类目值" disabled="true" />
            <input name="name" type="text" style="width: 150px;" ng-model="options.b_Text" placeholder="" />
            <input name="name" type="text" style="width: 150px;" ng-model="options.Text_c" placeholder="" />
            <input name="name" type="text" style="width: 150px;" placeholder="数值" disabled="true" />
            <input name="name" type="text" style="width: 150px;" ng-model="options.c_Text" placeholder="" />
        </div>


    </div>

    <div ng-if="currentTab == 'others'" class="m-t-10 m-b-10">
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.size.responsive">
                图表尺寸自适应
            </label>
        </div>
        <div class="form-group" ng-if="!options.size.responsive">
            <label class="control-label">图表宽度(单位:px)</label>
            <input name="name" type="text" class="form-control" ng-model="options.size.width" placeholder="600" />
        </div>
        <div class="form-group" ng-if="!options.size.responsive">
            <label class="control-label">图表高度(单位:px)</label>
            <input name="name" type="text" class="form-control" ng-model="options.size.height" placeholder="400" />
        </div>

        <hr>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.legend.show">
                显示图例
            </label>
        </div>
        <div class="form-group">
            <label class="control-label">图例对齐方式</label>
            <ui-select ng-model="options.legend.left">
                <ui-select-match placeholder="对齐方式...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="LegendAliNumb.value as LegendAliNumb in LegendAliNumbs">
                    <div ng-bind-html="LegendAliNumb.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.toolbox.show">
                显示工具栏
            </label>
        </div>


        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.series_Smooth">
                开启光滑曲线
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.stack">
                开启数据堆叠
            </label>
        </div>
        <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="options.xAxis.boundaryGap">
                    开启坐标轴两边留白策略
                </label>
            </div>

    </div>

    <div ng-if="currentTab == 'code'" class="m-t-10 m-b-10">
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.form.isCodeEnabled">
                使用用户自定义代码设置图表
            </label>
        </div>

        <div class="form-group">
            <textarea rows="15" style="width:100%;resize: none;" ng-model="options.form.code"></textarea>
        </div>
    </div>

    <div ng-if="currentTab == 'markline'" class="m-t-10 m-b-10">
        <div class="form-group">
            <label class="control-label">选择设置系列</label>
            <ui-select name="serise" required ng-model="options.useSerie">
                <ui-select-match placeholder="选择系列...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="column in options.form.yAxisColumns ">
                    <span ng-bind-html="column | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <!-- <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.series_MarkLine_Data_Mark[options.useSerie_Index]">
                标记最大值
            </label>
        </div> -->

        <div class="form-group">
            <label class="control-label">标注线提示名称</label>
            <input name="name" type="text" class="form-control"
                ng-model="options.series_MarkLine_Data_MarkName[options.useSerie_Index]" placeholder="" />
        </div>
        <div class="form-group">
            <label class="control-label">标注线值</label>
            <input name="name" type="text" class="form-control"
                ng-model="options.series_MarkLine_Data_MarkValue[options.useSerie_Index]" placeholder="" />
        </div>
        <div class="form-group">
            <label class="control-label">标注线颜色</label>
            <ui-select name="symbolSize" required
                ng-model="options.series_MarkLine_Data_LineStyle_Color[options.useSerie_Index]">
                <ui-select-match placeholder="选择颜色...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="Color.value as Color in Colors">
                    <div ng-bind-html="Color.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label class="control-label">标注线宽度</label>
            <input name="name" type="text" class="form-control"
                ng-model="options.series_MarkLine_Data_LineStyle_Width[options.useSerie_Index]" placeholder="5" />
        </div>
        <div class="form-group">
            <label class="control-label">标注线类型</label>
            <ui-select name="symbolSize" required
                ng-model="options.series_MarkLine_Data_LineStyle_Type[options.useSerie_Index]">
                <ui-select-match placeholder="选择标注线类型...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="LineStyle.value as LineStyle in LineStyles">
                    <div ng-bind-html="LineStyle.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <!-- <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.series_MarkLine_Label_Show[options.useSerie_Index]">
                显示标签
            </label>
        </div> -->
    </div>

    <div ng-if="currentTab == 'markpoint'" class="m-t-10 m-b-10">
        <div class="form-group">
            <label class="control-label">选择设置系列</label>
            <ui-select name="symbolSize" required ng-model="options.useSerie">
                <ui-select-match placeholder="选择系列...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="column in options.form.yAxisColumns ">
                    <span ng-bind-html="column | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.series_MarkPoint_Data_MaxType[options.useSerie_Index]">
                标记最大值
            </label>
        </div>
        <div class="form-group" ng-if="options.series_MarkPoint_Data_MaxType[options.useSerie_Index]">
            <div class="form-group">
                <label class="control-label">标注点形状</label>
                <ui-select ng-model="options.series_MarkPoint_Data_MaxSymbol[options.useSerie_Index]">
                    <ui-select-match placeholder="选择标注点形状...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Symbol.value as Symbol in Symbols">
                        <div ng-bind-html="Symbol.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label class="control-label">标注点形状大小(单位:px)</label>
                <input name="name" type="text" class="form-control"
                    ng-model="options.series_MarkPoint_Data_MaxSymbolSize[options.useSerie_Index]" placeholder="9" />
            </div>

            <div class="form-group">
                <label>
                    <input type="checkbox"
                        ng-model="options.series_MarkPoint_Data_Label_MaxShow[options.useSerie_Index]">
                    显示标签
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">标注的文本位置</label>
                <ui-select ng-model="options.series_MarkPoint_Data_Label_MaxPosition[options.useSerie_Index]">
                    <ui-select-match placeholder="选择标注点位置...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="LablePosition.value as LablePosition in LablePositions">
                        <div ng-bind-html="LablePosition.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label class="control-label">标注点文字颜色</label>
                <input name="name" type="text" class="form-control"
                    ng-model="options.series_MarkPoint_Data_Label_MaxColor[options.useSerie_Index]"
                    placeholder="#fff" />
            </div>
            <div class="form-group">
                <label class="control-label">标注点文字大小</label>
                <input name="name" type="text" class="form-control"
                    ng-model="options.series_MarkPoint_Data_Label_MaxFontSize[options.useSerie_Index]"
                    placeholder="12" />
            </div>
            <div class="form-group">
                <label class="control-label">标注点文字粗细</label>
                <ui-select ng-model="options.series_MarkPoint_Label_MaxFontWeight[options.useSerie_Index]">
                    <ui-select-match placeholder="标记点文字粗细...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="LabelFontWeight.value as LabelFontWeight in LabelFontWeights">
                        <div ng-bind-html="LabelFontWeight.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label class="control-label">标记点文字字体</label>
                <ui-select ng-model="options.series_MarkPoint_Data_Label_MaxFontFamily[options.useSerie_Index]">
                    <ui-select-match placeholder="标记点文字字体...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="LabelFontFamily.value as LabelFontFamily in LabelFontFamilys">
                        <div ng-bind-html="LabelFontFamily.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.series_MarkPoint_Data_MinType[options.useSerie_Index]">
                标记最小值
            </label>
        </div>
        <div class="form-group" ng-if="options.series_MarkPoint_Data_MinType[options.useSerie_Index]">
            <div class="form-group">
                <label class="control-label">标注点形状</label>
                <ui-select ng-model="options.series_MarkPoint_Data_MinSymbol[options.useSerie_Index]">
                    <ui-select-match placeholder="选择标注点形状...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Symbol.value as Symbol in Symbols">
                        <div ng-bind-html="Symbol.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label class="control-label">标注点形状大小(单位:px)</label>
                <input name="name" type="text" class="form-control"
                    ng-model="options.series_MarkPoint_Data_MinSymbolSize[options.useSerie_Index]" placeholder="9" />
            </div>

            <div class="form-group">
                <label>
                    <input type="checkbox"
                        ng-model="options.series_MarkPoint_Data_Label_MinShow[options.useSerie_Index]">
                    显示标签
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">标注的文本位置</label>
                <ui-select ng-model="options.series_MarkPoint_Data_Label_MinPosition[options.useSerie_Index]">
                    <ui-select-match placeholder="选择标注点位置...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="LablePosition.value as LablePosition in LablePositions">
                        <div ng-bind-html="LablePosition.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group">
                <label class="control-label">标注点文字颜色</label>
                <input name="name" type="text" class="form-control"
                    ng-model="options.series_MarkPoint_Data_Label_MinColor[options.useSerie_Index]"
                    placeholder="#fff" />
            </div>
            <div class="form-group">
                <label class="control-label">标注点文字大小</label>
                <input name="name" type="text" class="form-control"
                    ng-model="options.series_MarkPoint_Data_Label_MinFontSize[options.useSerie_Index]"
                    placeholder="12" />
            </div>
            <div class="form-group">
                <label class="control-label">标注点文字粗细</label>
                <ui-select ng-model="options.series_MarkPoint_Label_MinFontWeight[options.useSerie_Index]">
                    <ui-select-match placeholder="标记点文字粗细...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="LabelFontWeight.value as LabelFontWeight in LabelFontWeights">
                        <div ng-bind-html="LabelFontWeight.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label class="control-label">标记点文字字体</label>
                <ui-select ng-model="options.series_MarkPoint_Data_Label_MinFontFamily[options.useSerie_Index]">
                    <ui-select-match placeholder="标记点文字字体...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="LabelFontFamily.value as LabelFontFamily in LabelFontFamilys">
                        <div ng-bind-html="LabelFontFamily.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.series_MarkPoint_Data_AverageType[options.useSerie_Index]">
                标记平均值
            </label>
        </div>
        <div class="form-group" ng-if="options.series_MarkPoint_Data_AverageType[options.useSerie_Index]">
            <div class="form-group">
                <label class="control-label">标注点形状</label>
                <ui-select ng-model="options.series_MarkPoint_Data_AverageSymbol[options.useSerie_Index]">
                    <ui-select-match placeholder="选择标注点形状...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Symbol.value as Symbol in Symbols">
                        <div ng-bind-html="Symbol.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label class="control-label">标注点形状大小(单位:px)</label>
                <input name="name" type="text" class="form-control"
                    ng-model="options.series_MarkPoint_Data_AverageSymbolSize[options.useSerie_Index]"
                    placeholder="9" />
            </div>

            <div class="form-group">
                <label>
                    <input type="checkbox"
                        ng-model="options.series_MarkPoint_Data_Label_AverageShow[options.useSerie_Index]">
                    显示标签
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">标注的文本位置</label>
                <ui-select ng-model="options.series_MarkPoint_Data_Label_AveragePosition[options.useSerie_Index]">
                    <ui-select-match placeholder="选择标注点位置...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="LablePosition.value as LablePosition in LablePositions">
                        <div ng-bind-html="LablePosition.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group">
                <label class="control-label">标注点文字颜色</label>
                <input name="name" type="text" class="form-control"
                    ng-model="options.series_MarkPoint_Data_Label_AverageColor[options.useSerie_Index]"
                    placeholder="#fff" />
            </div>
            <div class="form-group">
                <label class="control-label">标注点文字大小</label>
                <input name="name" type="text" class="form-control"
                    ng-model="options.series_MarkPoint_Data_Label_AverageFontSize[options.useSerie_Index]"
                    placeholder="12" />
            </div>
            <div class="form-group">
                <label class="control-label">标注点文字粗细</label>
                <ui-select ng-model="options.series_MarkPoint_Label_AverageFontWeight[options.useSerie_Index]">
                    <ui-select-match placeholder="标记点文字粗细...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="LabelFontWeight.value as LabelFontWeight in LabelFontWeights">
                        <div ng-bind-html="LabelFontWeight.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label class="control-label">标记点文字字体</label>
                <ui-select ng-model="options.series_MarkPoint_Data_Label_AverageFontFamily[options.useSerie_Index]">
                    <ui-select-match placeholder="标记点文字字体...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="LabelFontFamily.value as LabelFontFamily in LabelFontFamilys">
                        <div ng-bind-html="LabelFontFamily.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>







    </div>

    <div ng-if="currentTab == 'xaxis'" class="m-t-10 m-b-10">

        <div class="form-group">
            <label class="control-label">坐标轴类型</label>
            <ui-select ng-model="options.xAxis.type">
                <ui-select-match placeholder="选择坐标轴类型...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="scaleType.value as scaleType in xAxisScales">
                    <div ng-bind-html="scaleType.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group">
            <label class="control-label">{{'CHART_EDITOR.NAME' | translate}}</label>
            <input ng-model="options.xAxis.name" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.yAxisOptionsShow">
                显示坐标轴标题详细配置
            </label>
        </div>
        <div class="form-group" ng-if="options.yAxisOptionsShow">
            <div class="form-group">
                <label class="control-label">坐标轴名称显示位置</label>
                <ui-select ng-model="options.xAxis.nameLocation">
                    <ui-select-match placeholder="坐标轴名称显示位置...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="locationType.value as locationType in xAxisLocations">
                        <div ng-bind-html="locationType.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label class="control-label">坐标轴标题字体大小</label>
                <input name="name" type="text" class="form-control" ng-model="options.xAxis.nameTextStyle.fontSize"
                    placeholder="12" />
            </div>
            <div class="form-group">
                <label class="control-label">坐标轴标题颜色</label>
                <ui-select ng-model="options.xAxis.nameTextStyle.color">
                    <ui-select-match placeholder="选择颜色...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Color.value as Color in Colors">
                        <div ng-bind-html="Color.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label class="control-label">坐标轴标题字体风格</label>
                <ui-select ng-model="options.xAxis.nameTextStyle.fontStyle">
                    <ui-select-match placeholder="字体风格...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="FontStyle.value as FontStyle in FontStyles">
                        <div ng-bind-html="FontStyle.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">坐标轴名称与轴线之间的距离</label>
            <input ng-model="options.xAxis.nameGap" type="text" class="form-control" placeholder="15">
        </div>

        <div class="form-group">
            <label class="control-label">坐标轴名字旋转，角度值</label>
            <input ng-model="options.xAxis.nameRotate" type="text" class="form-control" placeholder="0">
        </div>

        <div class="form-group">
            <label class="control-label">坐标轴刻度标签旋转，角度值</label>
            <input ng-model="options.xAxis.axisLabel.rotate" type="text" class="form-control" placeholder="0">
        </div>

        <hr>

        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.xAxis.axisLine.show">
                显示坐标轴轴线
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.xAxis.axisTick.show">
                显示坐标轴刻度
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.xAxis.axisLabel.show">
                显示坐标轴标签
            </label>
        </div>
    </div>

    <div ng-if="currentTab == 'yaxis'" class="m-t-10 m-b-10">

        <div class="form-group">
            <label class="control-label">坐标轴类型</label>
            <ui-select ng-model="options.yAxis.type">
                <ui-select-match placeholder="选择坐标轴类型...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="scaleType.value as scaleType in xAxisScales">
                    <div ng-bind-html="scaleType.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group">
            <label class="control-label">{{'CHART_EDITOR.NAME' | translate}}</label>
            <input ng-model="options.yAxis.name" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.yAxisOptionsShow">
                显示坐标轴标题详细配置
            </label>
        </div>
        <div class="form-group" ng-if="options.yAxisOptionsShow">
            <div class="form-group">
                <label class="control-label">坐标轴名称显示位置</label>
                <ui-select ng-model="options.yAxis.nameLocation">
                    <ui-select-match placeholder="坐标轴名称显示位置...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="locationType.value as locationType in xAxisLocations">
                        <div ng-bind-html="locationType.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label class="control-label">坐标轴标题字体大小</label>
                <input name="name" type="text" class="form-control" ng-model="options.yAxis.nameTextStyle.fontSize"
                    placeholder="12" />
            </div>
            <div class="form-group">
                <label class="control-label">坐标轴标题颜色</label>
                <ui-select ng-model="options.yAxis.nameTextStyle.color">
                    <ui-select-match placeholder="选择颜色...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Color.value as Color in Colors">
                        <div ng-bind-html="Color.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label class="control-label">坐标轴标题字体风格</label>
                <ui-select ng-model="options.yAxis.nameTextStyle.fontStyle">
                    <ui-select-match placeholder="字体风格...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="FontStyle.value as FontStyle in FontStyles">
                        <div ng-bind-html="FontStyle.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">坐标轴名称与轴线之间的距离</label>
            <input ng-model="options.yAxis.nameGap" type="text" class="form-control" placeholder="15">
        </div>

        <div class="form-group">
            <label class="control-label">坐标轴名字旋转，角度值</label>
            <input ng-model="options.yAxis.nameRotate" type="text" class="form-control" placeholder="0">
        </div>

        <div class="form-group">
            <label class="control-label">坐标轴刻度标签旋转，角度值</label>
            <input ng-model="options.yAxis.axisLabel.rotate" type="text" class="form-control" placeholder="0">
        </div>

        <hr>

        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.yAxis.axisLine.show">
                显示坐标轴轴线
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.yAxis.axisTick.show">
                显示坐标轴刻度
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.yAxis.axisLabel.show">
                显示坐标轴标签
            </label>
        </div>

    </div>

    <div ng-if="currentTab == 'dataseries'" class="m-t-10 m-b-10">
        <table class="table table-condensed col-table">
            <thead>
                <th>{{'CHART_EDITOR.LABEL' | translate}}</th>
                <th>{{'CHART_EDITOR.TYPE' | translate}}</th>
            </thead>
            <tbody>
                <tr ng-repeat="yAxisColumn in options.form.yAxisColumns">
                    <td style="padding: 3px; width: 140px;">
                        <input class="form-control input-sm super-small-input" type="text" readonly="true"
                            ng-model="yAxisColumn">
                    </td>
                    <td style="padding: 3px; width: 105px;">
                        <ui-select ng-model="options.form.yAxisColumnTypes[yAxisColumn]">
                            <ui-select-match placeholder="图表种类">
                                <div>
                                    <i class="fa fa-{{$select.selected.value.icon}}"></i>
                                    {{$select.selected.value.name}}
                                </div>
                            </ui-select-match>
                            <ui-select-choices repeat="info.chartType as (chartType, info) in chartTypes">
                                <div>
                                    <i class="fa fa-{{info.value.icon}}"></i>
                                    <span> </span>
                                    <span ng-bind-html="info.value.name | highlight: $select.search"></span>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="form-group">
            <label class="control-label">选择设置系列</label>
            <ui-select name="name" required ng-model="options.useSerie">
                <ui-select-match placeholder="选择系列...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="column in options.form.yAxisColumns ">
                    <span ng-bind-html="column | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group">
            <label class="control-label">系列名称</label>
            <input name="name" type="text" class="form-control" ng-model="options.series_ReName[options.useSerie_Index]"
                placeholder="" />
        </div>
        <div class="form-group">
            <label class="control-label">系列颜色</label>
            <ui-select ng-model="options.series_ItemStyle_Color[options.useSerie_Index]">
                <ui-select-match placeholder="系列颜色...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="Color.value as Color in Colors">
                    <div ng-bind-html="Color.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <!-- 把对应系列的配置放到相应的数组下标存放 -->
        <div class="form-group">
            <label class="control-label">标记点大小(单位:px)</label>
            <input name="name" type="text" class="form-control"
                ng-model="options.series_SymbolSize[options.useSerie_Index]" placeholder="9" />
        </div>
        <div class="form-group">
            <label class="control-label">标记点形状</label>
            <ui-select ng-model="options.series_Symbol[options.useSerie_Index]">
                <ui-select-match placeholder="选择标记点形状...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="Symbol.value as Symbol in Symbols">
                    <div ng-bind-html="Symbol.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label class="control-label">标记点旋转角度</label>
            <input name="name" type="text" class="form-control"
                ng-model="options.series_SymbolRotate[options.useSerie_Index]" placeholder="0" />
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.series_Show[options.useSerie_Index]">
                显示标签
            </label>
        </div>
        <div class="form-group">
            <label class="control-label">标记的文本位置</label>
            <ui-select ng-model="options.series_Label_Position[options.useSerie_Index]">
                <ui-select-match placeholder="选择标记点位置...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="LablePosition.value as LablePosition in LablePositions">
                    <div ng-bind-html="LablePosition.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group">
            <label class="control-label">标记点文字颜色</label>
            <input name="name" type="text" class="form-control"
                ng-model="options.series_Label_Color[options.useSerie_Index]" placeholder="#fff" />
        </div>
        <div class="form-group">
            <label class="control-label">标记点文字大小</label>
            <input name="name" type="text" class="form-control"
                ng-model="options.series_Label_FontSize[options.useSerie_Index]" placeholder="12" />
        </div>
        <div class="form-group">
            <label class="control-label">标记点文字粗细</label>
            <ui-select ng-model="options.series_Label_FontWeight[options.useSerie_Index]">
                <ui-select-match placeholder="标记点文字粗细...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="LabelFontWeight.value as LabelFontWeight in LabelFontWeights">
                    <div ng-bind-html="LabelFontWeight.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label class="control-label">标记点文字字体</label>
            <ui-select ng-model="options.series_Label_FontFamily[options.useSerie_Index]">
                <ui-select-match placeholder="标记点文字字体...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="LabelFontFamily.value as LabelFontFamily in LabelFontFamilys">
                    <div ng-bind-html="LabelFontFamily.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div ng-if="(currentTab == 'colors') && (['pie', 'heatmap'].indexOf(options.globalSeriesType) == -1)"
        class="m-t-10 m-b-10">
        <table class="table table-condensed col-table">
            <tbody>
                <tr ng-repeat="name in form.seriesList">
                    <td style="padding: 3px; width: 140px;">
                        <div>{{ name }}</div>
                    </td>
                    <td style="padding: 3px; width: 35px;">
                        <ui-select ng-model="options.seriesOptions[name].color">
                            <ui-select-match>
                                <color-box color="$select.selected.value"></color-box>
                            </ui-select-match>
                            <ui-select-choices repeat="color.value as (key, color) in colors">
                                <color-box color="color.value"></color-box>
                                <span ng-bind-html="color.key | capitalize | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="(currentTab == 'colors') && (options.globalSeriesType == 'heatmap')" class="m-t-10 m-b-10">
        <div class="form-group" ng-if="options.globalSeriesType == 'heatmap'">
            <label class="control-label">{{'CHART_EDITOR.COLOR_SCHEME' | translate}}</label>

            <ui-select ng-model="options.colorScheme">
                <ui-select-match allow-clear="true" placeholder="Choose Color Scheme...">
                    {{$select.selected | capitalize}}
                </ui-select-match>
                <ui-select-choices repeat="value in colorScheme">
                    <div ng-bind-html="value | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group" ng-if="options.colorScheme == 'Custom...'">
                    <label class="control-label">{{'CHART_EDITOR.MIN_COLOR' | translate}}</label>
                    <ui-select ng-model="options.heatMinColor">
                        <ui-select-match>
                            <color-box color="$select.selected.value"></color-box>
                        </ui-select-match>
                        <ui-select-choices repeat="color.value as (key, color) in colors">
                            <color-box color="color.value"></color-box>
                            <span ng-bind-html="color.key | capitalize | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group" ng-if="options.colorScheme == 'Custom...'">
                    <label class="control-label">{{'CHART_EDITOR.MAX_COLOR' | translate}}</label>
                    <ui-select ng-model="options.heatMaxColor">
                        <ui-select-match>
                            <color-box color="$select.selected.value"></color-box>
                        </ui-select-match>
                        <ui-select-choices repeat="color.value as (key, color) in colors">
                            <color-box color="color.value"></color-box>
                            <span ng-bind-html="color.key | capitalize | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="(currentTab == 'colors') && (options.globalSeriesType == 'pie')" class="m-t-10 m-b-10">
        <table class="table table-condensed col-table">
            <tbody>
                <tr ng-repeat="name in form.valuesList">
                    <td style="padding: 3px; width: 140px;">
                        <div>{{ name }}</div>
                    </td>
                    <td style="padding: 3px; width: 35px;">
                        <ui-select ng-model="options.valuesOptions[name].color">
                            <ui-select-match>
                                <color-box color="$select.selected.value"></color-box>
                            </ui-select-match>
                            <ui-select-choices repeat="color.value as (key, color) in colors">
                                <color-box color="color.value"></color-box>
                                <span ng-bind-html="color.key | capitalize | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="currentTab == 'dataLabels'" class="m-t-10 m-b-10">
        <div ng-if="['line', 'area', 'column', 'scatter', 'pie', 'heatmap'].indexOf(options.globalSeriesType) >= 0"
            class="checkbox">
            <label>
                <input type="checkbox" ng-model="options.showDataLabels">
                {{'CHART_EDITOR.SHOW_DATA_LABELS' | translate}}</label>
        </div>

        <div class="form-group">
            <label for="chart-editor-number-format">
                {{'CHART_EDITOR.NUMBER_V_F' | translate}}
                <span class="m-l-5"
                    uib-popover-html="'Format <a href=&quot;https://redash.io/help/user-guide/visualizations/formatting-numbers&quot; target=&quot;_blank&quot;>specs.</a>'"
                    popover-trigger="'click outsideClick'">
                    <i class="fa fa-question-circle"></i>
                </span>
            </label>
            <input class="form-control" ng-model="options.numberFormat"
                ng-model-options="{ allowInvalid: true, debounce: 200 }" id="chart-editor-number-format">
        </div>

        <div class="form-group">
            <label for="chart-editor-percent-format">
                {{'CHART_EDITOR.PERCENT_V_F' | translate}}
                <span class="m-l-5"
                    uib-popover-html="'Format <a href=&quot;https://redash.io/help/user-guide/visualizations/formatting-numbers&quot; target=&quot;_blank&quot;>specs.</a>'"
                    popover-trigger="'click outsideClick'">
                    <i class="fa fa-question-circle"></i>
                </span>
            </label>
            <input class="form-control" ng-model="options.percentFormat"
                ng-model-options="{ allowInvalid: true, debounce: 200 }" id="chart-editor-percent-format">
        </div>

        <div class="form-group">
            <label for="chart-editor-datetime-format">
                {{'CHART_EDITOR.DATA_TIME_V_F' | translate}}
                <span class="m-l-5"
                    uib-popover-html="'Format <a href=&quot;https://momentjs.com/docs/#/displaying/format/&quot; target=&quot;_blank&quot;>specs.</a>'"
                    popover-trigger="'click outsideClick'">
                    <i class="fa fa-question-circle"></i>
                </span>
            </label>
            <input class="form-control" ng-model="options.dateTimeFormat"
                ng-model-options="{ allowInvalid: true, debounce: 200 }" id="chart-editor-datetime-format">
        </div>

        <div class="form-group">
            <label for="chart-editor-text">
                {{'CHART_EDITOR.DATA_LABELS' | translate}}
                <i class="fa fa-question-circle m-l-5" uib-popover-html="templateHint"
                    popover-trigger="'click outsideClick'" popover-placement="top-left"></i>
            </label>
            <input class="form-control" ng-model="options.textFormat"
                ng-model-options="{ allowInvalid: true, debounce: 200 }" id="chart-editor-text" placeholder="(auto)">
        </div>
    </div>
</div>