<div class="ui-select-container ui-select-bootstrap dropdown ng-not-empty ng-valid ng-valid-required"
    ng-class="{open: $select.open}" name="yAxisColumns" required="required" ng-model="options.condition1.col"
    aria-invalid="false" aria-required="true">
    <div class="ui-select-match" ng-hide="$select.open &amp;&amp; $select.searchEnabled" ng-disabled="$select.disabled"
        ng-class="{'btn-default-focus':$select.focus}" placeholder="选择列..." aria-hidden="false" aria-disabled="false">
        <span tabindex="-1" class="btn btn-default form-control ui-select-toggle" aria-label="Select box activate"
            ng-disabled="$select.disabled" ng-click="$select.activate()" style="outline: 0;" role="button"
            aria-disabled="false">
            <span ng-show="$select.isEmpty()" class="ui-select-placeholder text-muted ng-hide"
                aria-hidden="true">选择列...</span>
            <span ng-hide="$select.isEmpty()" class="ui-select-match-text pull-left"
                ng-class="{'ui-select-allow-clear': $select.allowClear &amp;&amp; !$select.isEmpty()}" ng-transclude=""
                aria-hidden="false">
                <span>国家</span></span>
            <i class="caret pull-right" ng-click="$select.toggle($event)" role="button" tabindex="0"></i>
            <a ng-show="$select.allowClear &amp;&amp; !$select.isEmpty() &amp;&amp; ($select.disabled !== true)"
                aria-label="Select box clear" style="margin-right: 10px" ng-click="$select.clear($event)"
                class="btn btn-xs btn-link pull-right ng-hide" aria-hidden="true"><i class="fa fa-remove"
                    aria-hidden="true"></i></a>
        </span>
    </div>
    <span ng-show="$select.open &amp;&amp; $select.refreshing &amp;&amp; $select.spinnerEnabled"
        class="ui-select-refreshing glyphicon glyphicon-refresh ui-select-spin ng-hide" aria-hidden="true"></span>
    <input type="search" autocomplete="off" tabindex="-1" aria-expanded="true" aria-label="Select box"
        aria-owns="ui-select-choices-29"
        class="form-control ui-select-search ng-pristine ng-untouched ng-valid ng-empty ng-hide"
        ng-class="{ 'ui-select-search-hidden' : !$select.searchEnabled }" placeholder="选择列..." ng-model="$select.search"
        ng-show="$select.open" aria-hidden="true" aria-invalid="false" style="width: 10px;">
    <ul class="ui-select-choices ui-select-choices-content ui-select-dropdown dropdown-menu ng-hide"
        ng-show="$select.open &amp;&amp; $select.items.length > 0" repeat="column in columnNames" aria-hidden="true">
        <li class="ui-select-choices-group" id="ui-select-choices-29">
            <div class="divider ng-hide" ng-show="$select.isGrouped &amp;&amp; $index > 0" aria-hidden="true"></div>
            <div ng-show="$select.isGrouped" class="ui-select-choices-group-label dropdown-header ng-hide"
                ng-bind="$group.name" aria-hidden="true"></div>
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
        </li>
    </ul>
    <div class="ui-select-no-choice"></div>
    <ui-select-single></ui-select-single><input ng-disabled="$select.disabled"
        class="ui-select-focusser ui-select-offscreen" type="text" id="focusser-29" aria-label="Select box focus"
        aria-haspopup="true" role="button">
</div>