<div>
    <ul class="tab-nav">
        <li ng-class="{active: currentTab == 'general'}">
            <a ng-click="changeTab('general')">数据设置</a>
        </li>
        <li ng-class="{active: currentTab == 'style'}">
            <a ng-click="changeTab('style')">样式设置</a>
        </li>
        <li ng-class="{active: currentTab == 'others'}">
            <a ng-click="changeTab('others')">其他设置</a>
        </li>

    </ul>
    <div ng-if="currentTab == 'general'" class="m-t-10 m-b-10">

        <div class="form-group" style="width:69%;float:left">
            <label class="control-label">维度数据</label>
            <ui-select name="xAxisColumn" required ng-model="options.form.xAxisColumn">
                <ui-select-match placeholder="选择数据...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="column in columnNames">
                    <span ng-bind-html="column | highlight: $select.search"></span>
                    <span> </span>
                    <small class="text-muted" ng-bind="columns[column].type"></small>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group" style="width:29%;float: right;">
            <label class="control-label">最大值</label>
            <input name="name" style="width:100%" type="text" class="form-control" ng-model="options.maxData"
                placeholder="100" />
        </div>
        <div class="form-group">
            <label class="control-label">指标数据</label>
            <ui-select name="xAxisColumn" required ng-model="options.form.yAxisColumn">
                <ui-select-match placeholder="选择数据...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="column in columnNames">
                    <span ng-bind-html="column | highlight: $select.search"></span>
                    <span> </span>
                    <small class="text-muted" ng-bind="columns[column].type"></small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div ng-if="currentTab == 'style'" class="m-t-10 m-b-10">
        <div>
            <ul class="tab-nav">
                <li ng-class="{active: currentTab2 == 'title'}">
                    <a ng-click="changeTab2('title')">标题</a>
                </li>
                <li ng-class="{active: currentTab2 == 'chart'}">
                    <a ng-click="changeTab2('chart')">图表</a>
                </li>
                <li ng-class="{active: currentTab2 == 'leibie'}">
                    <a ng-click="changeTab2('leibie')">类别</a>
                </li>

            </ul>

            <div ng-if="currentTab2 == 'title'" class="m-t-10 m-b-10">
                <div class="form-group">

                    <div class="table-name" ng-click="isCollapsedMain = !isCollapsedMain">
                        <div class="form-group" style="float:left">
                            <i class="fa fa-table"></i>
                            <strong>
                                <span>主标题</span>
                            </strong>
                        </div>
                    </div>

                    <div uib-collapse="isCollapsedMain">
                        <div class="form-group" style="float:left;width:100%">
                            <div class="form-group" style="width:49%;float:left">
                                <label class="control-label">主标题</label>
                                <input name="name" style="width:100%" type="text" class="form-control"
                                    ng-model="options.title.text" placeholder="" />

                                <label class="control-label">颜色</label>
                                <input type="color" style="width:100%" class="form-control"
                                    ng-model="options.title.textStyle.color" />

                                <!-- <ui-select class="mini" ng-model="options.title.textStyle.color">
                                        <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
                                        <ui-select-choices repeat="Color.value as Color in Colors">
                                            <div ng-bind-html="Color.label | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select> -->

                                <label class="control-label">风格</label>
                                <ui-select ng-model="options.title.textStyle.fontStyle">
                                    <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
                                    <ui-select-choices repeat="FontStyle.value as FontStyle in FontStyles">
                                        <div ng-bind-html="FontStyle.label | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>


                                <label class="control-label">对齐</label>
                                <ui-select ng-model="options.title.textAlign">
                                    <ui-select-match placeholder="对齐方式...">{{$select.selected.label}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="TextAlign.value as TextAlign in TextAligns">
                                        <div ng-bind-html="TextAlign.label | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <label class="control-label">水平位置</label>
                                <input name="name" placeholder="50%..." style="width:100%" type="text"
                                    class="form-control" ng-model="options.title.left" placeholder="" />

                            </div>
                            <div class="form-group" style="width:49%;float:right">
                                <label class="control-label">大小</label>
                                <input name="name" style="width:100%" type="text" class="form-control"
                                    ng-model="options.title.textStyle.fontSizeT" placeholder="40" />
                                <label class="control-label">粗细</label>
                                <ui-select ng-model="options.title.textStyle.fontWeight">
                                    <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
                                    <ui-select-choices
                                        repeat="LabelFontWeight.value as LabelFontWeight in LabelFontWeights">
                                        <div ng-bind-html="LabelFontWeight.label | highlight: $select.search">
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                                <label class="control-label">系列</label>
                                <ui-select ng-model="options.title.textStyle.fontFamily">
                                    <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
                                    <ui-select-choices
                                        repeat="LabelFontFamily.value as LabelFontFamily in LabelFontFamilys">
                                        <div ng-bind-html="LabelFontFamily.label | highlight: $select.search">
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                                <label class="control-label">垂直位置</label>
                                <input name="name" placeholder="50%..." style="width:100%" type="text"
                                    class="form-control" ng-model="options.title.top" placeholder="" />
                            </div>
                        </div>
                    </div>

                    <div class="table-name" ng-click="isCollapsedSub = !isCollapsedSub">
                        <div class="form-group" style="float:left">
                            <i class="fa fa-table"></i>
                            <strong>
                                <span>副标题</span>
                            </strong>
                        </div>
                    </div>

                    <div uib-collapse="isCollapsedSub">
                        <div class="form-group" style="float:left;width:100% ">
                            <div class="form-group" style="width:49%;float:left">
                                <label class="control-label">副标题</label>
                                <input name="name" style="width:100%" type="text" class="form-control"
                                    ng-model="options.title.subtext" placeholder="" />
                                <label class="control-label">颜色</label>
                                <input type="color" style="width:100%" class="form-control"
                                    ng-model="options.title.subtextStyle.color" />
                                <label class="control-label">风格</label>
                                <ui-select ng-model="options.title.subtextStyle.fontStyle">
                                    <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
                                    <ui-select-choices repeat="FontStyle.value as FontStyle in FontStyles">
                                        <div ng-bind-html="FontStyle.label | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group" style="width:49%;float:right">
                                <label class="control-label">大小</label>
                                <input name="name" style="width:100%" type="text" class="form-control"
                                    ng-model="options.title.subtextStyle.fontSize" placeholder="" />
                                <label class="control-label">粗细</label>
                                <ui-select ng-model="options.title.subtextStyle.fontWeight">
                                    <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
                                    <ui-select-choices
                                        repeat="LabelFontWeight.value as LabelFontWeight in LabelFontWeights">
                                        <div ng-bind-html="LabelFontWeight.label | highlight: $select.search">
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                                <label class="control-label">系列</label>
                                <ui-select style="height:10px;" ng-model="options.title.subtextStyle.fontFamily">
                                    <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
                                    <ui-select-choices
                                        repeat="LabelFontFamily.value as LabelFontFamily in LabelFontFamilys">
                                        <div ng-bind-html="LabelFontFamily.label | highlight: $select.search">
                                        </div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div ng-if="currentTab2 == 'chart'" class="m-t-10 m-b-10">
                <div class="form-group">
                    <div class="table-name" ng-click="isCollapsedColor = !isCollapsedColor">
                        <div class="form-group" style="float:left">
                            <i class="fa fa-table"></i>
                            <strong>
                                <span>主题设置</span>
                            </strong>
                        </div>
                    </div>

                    <div uib-collapse="isCollapsedColor">
                        <div class="form-group" style="float:left;width:100% ">
                            <div class="form-group" style="width:49%;float:left">
                                <!-- <label class="control-label">主标题</label>
                                    <input name="name" style="width:100%" type="text" class="form-control"
                                        ng-model="options.title.text" placeholder="" /> -->

                                <label class="control-label">设置整体主题颜色</label>
                                <ui-select ng-model="options.color">
                                    <ui-select-match placeholder="选择色系颜色...">{{$select.selected.label}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="Color.value as Color in ThemeColor">
                                        <div ng-bind-html="Color.label | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group" style="width:49%;float:right">

                                <label class="control-label">设置背景颜色</label>
                                <ui-select ng-model="options.backgroundColor">
                                    <ui-select-match placeholder="背景颜色...">{{$select.selected.label}}</ui-select-match>
                                    <ui-select-choices repeat="Color.value as Color in BackgroundColors">
                                        <div ng-bind-html="Color.label | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                            <div class="form-group" style="width:100%;float:left">
                                <label class="control-label">背景图片</label>
                                <image-upload get-image-url-cb="getImageUrlCb"></image-upload>
                                <input ng-show="false" name="name" type="text" class="form-control"
                                    ng-model="options.images" placeholder="url" />
                            </div>


                            <div class="form-group" style="width:49%;float:left">
                                <label class="control-label">背景位置X</label>
                                <input name="name" type="text" class="form-control" ng-model="options.bgX"
                                    placeholder="" />
                            </div>
                            <div class="form-group" style="width:49%;float:right">
                                <label class="control-label">背景位置Y</label>
                                <input name="name" type="text" class="form-control" ng-model="options.bgY"
                                    placeholder="" />
                            </div>

                        </div>
                    </div>

                    <div class="table-name" ng-click="isCollapsedDistance = !isCollapsedDistance">
                        <div class="form-group" style="float:left">
                            <i class="fa fa-table"></i>
                            <strong>
                                <span>容器距离</span>
                            </strong>
                        </div>
                    </div>
                    <div uib-collapse="isCollapsedDistance">
                        <div class="form-group" style="float:left;width:100% ">
                            <div class="form-group" style="width:49%;float:left">
                                <label class="control-label">离容器左侧的距离</label>
                                <input style="width:100%" ng-model="options.grid.left" type="text" class="form-control"
                                    placeholder="10%">
                                <label class="control-label">离容器上侧的距离</label>
                                <input style="width:100%" ng-model="options.grid.top" type="text" class="form-control"
                                    placeholder="10">
                            </div>
                            <div class="form-group" style="width:49%;float:right">
                                <label class="control-label">离容器右侧的距离</label>
                                <input style="width:100%" ng-model="options.grid.right" type="text" class="form-control"
                                    placeholder="10">
                                <label class="control-label">离容器下侧的距离</label>
                                <input style="width:100%" ng-model="options.grid.bottom" type="text"
                                    class="form-control" placeholder="10">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="options.size.responsive">
                            图表尺寸自适应
                        </label>
                    </div>
                    <div class="form-group" style="width:49%;float:left" ng-if="!options.size.responsive">
                        <label class="control-label">图表宽度(单位:px)</label>
                        <input name="name" type="text" class="form-control" ng-model="options.size.width"
                            placeholder="600" />
                    </div>
                    <div class="form-group" style="width:49%;float:right" ng-if="!options.size.responsive">
                        <label class="control-label">图表高度(单位:px)</label>
                        <input name="name" type="text" class="form-control" ng-model="options.size.height"
                            placeholder="400" />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="options.legend.show">
                            显示图例设置
                        </label>
                    </div>
                    <div class="form-group" style="width:49%;float:left" ng-if="options.legend.show">
                        <label class="control-label">宽度(单位:px)</label>
                        <input name="name" type="text" class="form-control" ng-model="options.legend.width"
                            placeholder="" />
                        <label class="control-label">左侧距离</label>
                        <input name="name" type="text" class="form-control" ng-model="options.legend.left"
                            placeholder="90%" />
                    </div>
                    <div class="form-group" style="width:49%;float:right" ng-if="options.legend.show">
                        <label class="control-label">文字颜色</label>
                        <input type="color" style="width:100%" class="form-control"
                            ng-model="options.legend.textStyle.color" />
                        <!-- <ui-select ng-model="options.legend.textStyle.color">
                            <ui-select-match placeholder="颜色...">{{$select.selected.label}}</ui-select-match>
                            <ui-select-choices repeat="Color.value as Color in Colors">
                                <div ng-bind-html="Color.label | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select> -->
                        <label class="control-label">顶部距离</label>
                        <input name="name" type="text" class="form-control" ng-model="options.legend.top"
                            placeholder="5%" />
                    </div>



                </div>
            </div>


            <div ng-if="currentTab2 == 'leibie'" class="m-t-10 m-b-10">
                <div class="form-group" style="width:49%;float:left">
                    <label class="control-label">选择设置类</label>
                    <ui-select name="name" required ng-model="options.useSerie">
                        <ui-select-match placeholder="选择系列...">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="column in options.xList ">
                            <span ng-bind-html="column | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group" style="width:49%;float:right">
                    <label class="control-label">类颜色</label>
                    <ui-select ng-model="options.series_ItemStyle_Color[options.useSerie]">
                        <ui-select-match placeholder="类颜色...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="Color.value as Color in Colors">
                            <div ng-bind-html="Color.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

        </div>
    </div>

    <div ng-if="currentTab == 'others'" class="m-t-10 m-b-10">

        <div class="form-group" style="width:49%;float:left">
            <label>
                <input type="checkbox" ng-model="options.toolbox.show">
                显示工具栏
            </label>
        </div>
        <!-- <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.tooltip.show">
                显示提示框
            </label>
        </div> -->
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.size.responsive">
                图表尺寸自适应
            </label>
        </div>
        <div class="form-group" style="width:49%;float:left" ng-if="!options.size.responsive">
            <label class="control-label">图表宽度(单位:px)</label>
            <input name="name" type="text" class="form-control" ng-model="options.size.width" placeholder="600" />
        </div>
        <div class="form-group" style="width:49%;float:right" ng-if="!options.size.responsive">
            <label class="control-label">图表高度(单位:px)</label>
            <input name="name" type="text" class="form-control" ng-model="options.size.height" placeholder="400" />
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.legend.show">
                显示图例
            </label>
        </div>
        <div class="form-group" style="width:49%;float:left" ng-if="options.legend.show">
            <label class="control-label">图例宽度(单位:px)</label>
            <input name="name" type="text" class="form-control" ng-model="options.legend.width" placeholder="" />
            <label class="control-label">图例左侧距离(单位:百分比，如50%)</label>
            <input name="name" type="text" class="form-control" ng-model="options.legend.left" placeholder="" />
        </div>
        <div class="form-group" style="width:49%;float:right" ng-if="options.legend.show">
            <label class="control-label">图例文字颜色</label>
            <ui-select ng-model="options.legend.textStyle.color">
                <ui-select-match placeholder="颜色...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="Color.value as Color in Colors">
                    <div ng-bind-html="Color.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <label class="control-label">图例顶部距离(单位:百分比，如50%)</label>
            <input name="name" type="text" class="form-control" ng-model="options.legend.top" placeholder="" />
        </div>
        <!-- <div class="form-group" ng-if="options.tooltip.show">
            <label class="control-label">文本提示框背景颜色</label>
            <ui-select ng-model="options.tooltip.axisPointer.label.backgroundColor">
                <ui-select-match placeholder="颜色...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="Color.value as Color in Colors">
                    <div ng-bind-html="Color.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div> -->
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.form.isCodeEnabled">
                使用用户自定义代码设置图表
            </label>
        </div>
        <div class="form-group" ng-if="options.form.isCodeEnabled">
            <textarea rows="15" style="width:100%;resize: none;" ng-model="options.form.code"></textarea>
        </div>
    </div>

</div>