.full-height {
  background-color: #0A1733 !important;
  color: #fff !important;
  width: 256px !important;
  min-height:calc(100vh - 50px) !important;
  position: fixed;
  top:0;
  bottom: 0;
}

.full-height-nav {
  background-color: #0A1733 !important;
  color: #fff !important;
}

.ant-menu-submenu-arrow {
  color: #fff !important;
}

.nav-logo {
  height: 50px;
  padding-left:15px;
}

.nav-logo-img {
  width: 40px;
  height: 40px;
}

.ui.labeled.icon.menu .item>.icon:not(.dropdown) {
  font-size: 2.5em !important;
  color: #fff !important;
  margin-top: 10px !important;
}

.ui.datavis.vertical.menu {
  width: 70px !important;
  border-radius: 0 !important;
  background-color: #0A1733 !important;
}

.navbar-font {
  font-size: 12px !important;
  font-family: "Alibaba-PuHuiTi-Regular";
  color: #fff !important;
}

.ui.menu .active.item, .ui.vertical.menu .active.item {
  background-color: rgba(255, 23, 51,0.3) !important;
}

.ui.menu .item:hover, .ui.vertical.menu .item:hover {
  background-color: rgba(255, 23, 51,0.25) !important;
}