.full-height-nav {
  background-color: #2a3b5a !important;
  color: #fff !important;
  width: 256px !important;
  min-height:calc(100vh - 50px) !important;
}

.ant-menu-submenu-arrow {
  color: #fff !important;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}