<div class="dashboard-dark-theme" style="height:100vh;width:100vw;overflow: hidden;" ng-style="$ctrl.dashboardStyle"
  ng-if="$ctrl.dashboard.widgets.length > 0">
  <!--
  <div class="dashboard-dark-theme" ng-if="$ctrl.globalParameters.length > 0">
    <parameters parameters="$ctrl.globalParameters"></parameters>
  </div>
-->
  <div class="row" style="background: rgba(37, 55, 76, 0)">
    <div class="col-sm-3" align="left"></div>
    <div class="col-sm-6" align="center" style="font-size: 16px; color:white">
      {{$ctrl.dashboard.name}}
    </div>
    <div class="col-sm-3" align="right">
      <div ng-click="$ctrl.openParameterDialog()" ng-if="$ctrl.globalParameters.length > 0" >
        <i
                class="fa fa-cog animated flipInY"
                style="color: #fff; font-size:20px; padding-right:10px;padding-top:10px"
        ><md-tooltip md-direction="left">参数设置</md-tooltip></i
        >
      </div>
    </div>
  </div>


  <parameter-drawer open="$ctrl.openParamDraw" on-close="$ctrl.onPramClose" on-submit="$ctrl.onSubmit"
    params="$ctrl.globalParameters"></parameter-drawer>

  <div gridstack editing="$ctrl.layoutEditing" on-layout-changed="$ctrl.onLayoutChanged"
    is-one-column-mode="$ctrl.isGridDisabled" class="dashboard-wrapper"
    ng-class="{'preview-mode': true, 'editing-mode':false}">
    <div class="dashboard-widget-wrapper" 
      ng-repeat="widget in $ctrl.dashboard.widgets track by widget.id"
      gridstack-item="widget.options.position" 
      gridstack-item-id="{{ widget.id }}" 
      data-test="WidgetId{{ widget.id }}">
      <div class="grid-stack-item-content">
        <dashboard-widget widget="widget" dashboard="$ctrl.dashboard" on-delete="$ctrl.removeWidget(widget.id)">
        </dashboard-widget>
      </div>
    </div> 
  </div>
</div>

<div class="dashboard-dark-theme" style="height:100%;width:100%; position: absolute; right: 0; top: 0; display:flex;"
  ng-if="$ctrl.dashboard.widgets.length == 0">
  <div style="margin:auto;text-align: center">
    <img src="/static/images/brandImg.png" width="64" height="64" />
    <p style="color:#fff">数据可视化面板</p>
  </div>
</div>