<div class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-6">{{'BOX_PLOT_EDITOR.X_AXIS_LABEL' | translate}}</label>
    <div class="col-lg-6">
      <input type="text" ng-model="visualization.options.xAxisLabel" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-6">{{'BOX_PLOT_EDITOR.Y_AXIS_LABEL' | translate}}</label>
    <div class="col-lg-6">
      <input type="text" ng-model="visualization.options.yAxisLabel" class="form-control">
    </div>
  </div>
</div>
