<div class="layout-content-wrapper-full-height corner-dark" style="padding:0 !important;background-color: #25374C">
  <dashboards-page-header slug-id="slugId" style="border-bottom: 1px solid #363e55 !important;">
  </dashboards-page-header>
  <main class="query-fullscreen dashboard-design" style="background-color: #25374C">
    <nav resizable r-directions="['right']" r-flex="true" resizable-toggle style="max-width: 300px;">
      <div class="editor__left__schema">
        <div class="d-flex flex-column p-absolute" style="left: 0; top: 0; right: 0; bottom: 0;">
          <div class="scrollbox" style="height: 100% !important;background-color: #20263B">
            <dashboards-search slug-id="slugId" dashboard-search-cb="dashboardSearchCb"
              update-dashboard-bg-img-cb="updateDashboardBgImgCb" type-dashboard-bg-img-cb="typeDashboardBgImgCb">
            </dashboards-search>

            <md-button aria-label="基础设置" style="color: #fff;width: 48%;" ng-click="baseOption=!baseOption">
              <div>基础设置</div>
            </md-button>
            </br>
            <span class="control-label" style="color: #fff;" ng-show="baseOption">刷新率：</span>
            <rate-input get-rate-cb="getRateCb" slug-id="slugId" ng-show="baseOption"></rate-input>
            </br>
            <list-switch get-list-switch-cb="getListSwitchCb" get-grid-cb="getGridCb" slug-id="slugId"
              ng-show="baseOption"></list-switch>
            <div>
              <md-button aria-label="组件设置" style="color: #fff;width: 48%;" ng-click="weigetOption=!weigetOption">
                <div>组件设置</div>
              </md-button>
            </div>
            <md-button aria-label="添加可视化组件" style="color: #fff" ng-show="weigetOption">
              <dashboard-add-widgets add-widget-cb="addWidgetCb" slug-id="slugId"></dashboard-add-widgets>
            </md-button>
            <md-button aria-label="添加文本框" style="color: #fff" ng-show="weigetOption">
              <dashboard-add-textbox add-widget-cb="addWidgetCb"></dashboard-add-textbox>
            </md-button>


            <!-- <md-button aria-label="添加其他可视化仪表盘">
              添加可视化仪表盘
            </md-button> -->
          </div>
        </div>
      </div>
    </nav>
    <div class="content" style="background-color: #25374C">
      <div class="flex-fill p-relative">
        <div class="p-absolute d-flex flex-column" style="left: 0; top: 0; right: 0; bottom: 0; overflow: auto">
          <section class="flex-fill p-relative t-body query-visualizations-wrapper">
            <div class="d-flex flex-column p-absolute static-position__mobile"
              style="left: 0; top: 0; right: 0; bottom: 0;">
              <!-- Query Execution Status -->

              <!-- End of Query Execution Status -->

              <!-- tabs and data -->
              <div class="flex-fill p-relative">
                <div class="d-flex flex-column p-absolute static-position__mobile"
                  style="left: 0; top: 0; right: 0; bottom: 0;">
                  <div class="query__vis scrollbox">
                    <dashboards-tabs slug-id="slugId" widget-data="widgetData" dashboard-bg-img="dashboardBgImg"
                      rate-data="rateData" list-switch="listSwitch" grid-data="gridData"
                      dashboard-bg-img-type="dashboardBgImgType">
                    </dashboards-tabs>
                  </div>
                  <!-- <div class="FAB">
                    <md-fab-toolbar md-open="false" md-direction="left">
                      <md-fab-trigger class="align-with-text">
                        <md-button aria-label="menu" class="md-fab md-warn">
                          <md-icon
                            md-svg-src="static/images/plus-solid.svg"
                          ></md-icon>
                        </md-button>
                      </md-fab-trigger>

                      <md-toolbar>
                        <md-fab-actions class="md-toolbar-tools">
                          <md-button aria-label="添加可视化组件">
                            <dashboard-add-widgets
                              add-widget-cb="addWidgetCb"
                            ></dashboard-add-widgets>
                          </md-button>
                          <md-button aria-label="添加其他可视化仪表盘">
                            添加可视化仪表盘
                          </md-button>
                        </md-fab-actions>
                      </md-toolbar>
                    </md-fab-toolbar>
                  </div> -->
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
</div>