.menu-search input[type="text"] {
    height: 30px;
}

.dropdown-menu__version {
    padding: 5px 10px 8px 17px;
}

.update-available .fa {
    color: #52c41a;
    vertical-align: bottom;
    font-size: 16px !important;
}

.app-header {
    position: fixed !important;
    left: 0;
    right: 0;
    background: #2f5d91 !important;
    z-index: 999 !important;
}

.brand-title {
    display:inline-block;
    color: #fff !important;
    font-size: 14px;
    margin-top: 14px !important;
    margin-left: 8px !important;
}