<nav class="navbar navbar-default app-header" role="navigation">
  <div class="container" style="padding-left: 0px !important;">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        ng-click="isNavOpen = !isNavOpen"
      >
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


    </div>
    <div class="collapse navbar-collapse" uib-collapse="!isNavOpen">
      <!-- Main Left Nav-->
      <span style="position: absolute; width: 70px;height: 49px;top:0 !important;text-align:center">
        <img ng-src="{{ $ctrl.logoUrl }}" style="width: 40px;height: 40px; margin-top: 5px"/>
      </span>

      <span class="brand-title" style="padding-left: 75px">DataVis数据可视化与BI工具</span>

      <!-- Profile -->
      <ul class="nav navbar-nav navbar-right">
        <li uib-dropdown ng-if="$ctrl.isAuthenticated">
          <release-notes></release-notes>
        </li>
        <!--<li ng-show="$ctrl.showSettingsMenu">-->
        <!--<a href="users" title="Settings"><i class="fa fa-cog"></i></a>-->
        <!--</li>-->
        <li class="dropdown" uib-dropdown ng-if="$ctrl.isAuthenticated">
          <a
            href="#"
            class="dropdown-toggle dropdown--profile"
            uib-dropdown-toggle
            data-test="ProfileDropdown"
          >

            <span
                    style="color: #fff"
              class="dropdown--profile__username"
              ng-bind="$ctrl.currentUser.name"
            ></span>
            <i class="fa fa-caret-down " style="color: #fff"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu--profile">
            <li>
              <a ng-href="users/me" >{{ 'HEADER.EDIT_PROFILE' | translate }}</a>
            </li>
            <li
              class="divider"
              ng-if="$ctrl.currentUser.hasPermission('super_admin')"
            ></li>

            <li ng-show="$ctrl.showSettingsMenu" ng-if="$ctrl.currentUser.hasPermission('super_admin')">
              <a href="groups" title="Settings">{{
                'HEADER.GROUPS' | translate
              }}</a>
            </li>
            <li ng-show="$ctrl.showSettingsMenu" ng-if="$ctrl.currentUser.hasPermission('super_admin')">
              <a href="users" title="Settings">{{
                'HEADER.USERS' | translate
              }}</a>
            </li>

            <li
              ng-if="$ctrl.currentUser.hasPermission('super_admin')"
              class="divider"
            ></li>

            <li ng-if="$ctrl.currentUser.hasPermission('super_admin')">
              <a href="settings/system">{{
                'HEADER.SYSTEM_SETTINGS' | translate
              }}</a>
            </li>

            <li class="divider"></li>

            <li>
              <a ng-click="$ctrl.logout()">{{
                'HEADER.LOG_OUT' | translate
              }}</a>
            </li>

            <li class="divider"></li>
            <li class="dropdown-menu__version">
              {{ 'HEADER.VERSION' | translate }}: {{ $ctrl.backendVersion }}
              <span ng-if="$ctrl.frontendVersion !== $ctrl.backendVersion">
                ({{ $ctrl.frontendVersion.substring(0, 8) }})
              </span>
              <span
                class="update-available"
                ng-if="$ctrl.currentUser.hasPermission('super_admin') && $ctrl.newVersionAvailable"
              >
                <a href="https://version.redash.io/" target="_blank">
                  <i class="fa fa-arrow-circle-down"></i>
                </a>
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
