<main class="dashboard-fullscreen p-10" style="background-color: #25374C">
  <div class="flex-fill p-relative">
    <div
      class="p-absolute d-flex flex-column"
      style="left: 0; top: 0; right: 0; bottom: 0; overflow: hidden"
    >
      <section class="flex-fill p-relative query-visualizations-wrapper">
        <div class="dashboard-dark-theme">
          <div class="dashboard-wrapper preview-mode">
            <div class="dashboard-widget-wrapper">
              <visualization-renderer
                visualization="$ctrl.visualization"
                query-result="$ctrl.queryResult"
              >
              </visualization-renderer>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
