<div class="dashboard-dark-theme" style="min-height:45vh !important;">
  <div class="body-row-auto scrollbox dashboard-dark-theme">
    <div class="body-row">
      <div class="m-b-10" ng-if="$ctrl.localParametersDefs().length > 0">
        <parameters parameters="$ctrl.localParametersDefs()"></parameters>
      </div>
    </div>
    <visualization-renderer
      visualization="$ctrl.visualization"
      query-result="$ctrl.queryResult"
    >
    </visualization-renderer>
  </div>
</div>
