<div class="widget-wrapper dashboard-dark-theme" style="min-height:80vh !important;">
  <div class="body-row-auto scrollbox widget-container dashboard-dark-theme">
    <div class="body-row">
      <div class="m-b-10" ng-if="$ctrl.localParametersDefs().length > 0">
        <parameters parameters="$ctrl.localParametersDefs()"></parameters>
      </div>
    </div>
    <visualization-renderer
      visualization="$ctrl.visualization"
      query-result="$ctrl.queryResult"
      class="t-body"
    >
    </visualization-renderer>
  </div>
</div>
