<ul class="tab-nav">
  <li ng-class="{active: currentTab == 'columns'}">
    <a ng-click="setCurrentTab('columns')">{{'COHORT_EDITOR.COLUMNS' | translate}}</a>
  </li>
  <li ng-class="{active: currentTab == 'options'}">
    <a ng-click="setCurrentTab('options')">{{'COHORT_EDITOR.OPTIONS' | translate}}</a>
  </li>
</ul>

<div ng-if="currentTab == 'options'" class="m-t-10 m-b-10">
  <div class="form-group">
    <label class="control-label">时间间隔</label>
    <select class="form-control" ng-model="visualization.options.timeInterval">
      <option value="daily">{{'COHORT_EDITOR.DAILY' | translate}}</option>
      <option value="weekly">{{'COHORT_EDITOR.WEEKLY' | translate}}</option>
      <option value="monthly">{{'COHORT_EDITOR.MONTHLY' | translate}}</option>
    </select>
  </div>

  <div class="form-group">
    <label class="control-label">{{'COHORT_EDITOR.MODE' | translate}}</label>
    <select class="form-control" ng-model="visualization.options.mode">
      <option value="diagonal">{{'COHORT_EDITOR.FILL_GAPS_WITH_ZEROS' | translate}}</option>
      <option value="simple">{{'COHORT_EDITOR.SHOW_DATA_AS_IS' | translate}}</option>
    </select>
  </div>
</div>

<div ng-if="currentTab == 'columns'" class="m-t-10 m-b-10">
  <div class="form-group">
    <label class="control-label">数据（容器）</label>
    <select class="form-control" ng-model="visualization.options.dateColumn"
      ng-options="column for column in columnNames"></select>
  </div>

  <div class="form-group">
    <label class="control-label">阶段</label>
    <select class="form-control" ng-model="visualization.options.stageColumn"
      ng-options="column for column in columnNames"></select>
  </div>

  <div class="form-group">
    <label class="control-label">Bucket Population Size</label>
    <select class="form-control" ng-model="visualization.options.totalColumn"
      ng-options="column for column in columnNames"></select>
  </div>

  <div class="form-group">
    <label class="control-label">Stage Value</label>
    <select class="form-control" ng-model="visualization.options.valueColumn"
      ng-options="column for column in columnNames"></select>
  </div>
</div>
