<app-header
  ng-if="$ctrl.layout.showHeader"
  style="height: 50px !important;"
></app-header>
<div style="display: flex; flex-direction: row;">
  <div
    ng-class="{'main-section-left': $ctrl.layout.showHeader,'main-section-left-dashboard': !$ctrl.layout.showHeader}"
  >
    <nav-sidebar></nav-sidebar>
  </div>
  <div
    ng-class="{'main-section-right': $ctrl.layout.showHeader,'main-section-right-dashboard': !$ctrl.layout.showHeader}"
  >
    <div ng-if="!$ctrl.handler.error" ng-view></div>
  </div>
</div>
