<div>
    <ul class="tab-nav">
        <li ng-class="{active: currentTab == 'general'}">
            <a ng-click="changeTab('general')">数据设置</a>
        </li>
        <li ng-class="{active: currentTab == 'style'}">
            <a ng-click="changeTab('style')">样式设置</a>
        </li>
        <li ng-class="{active: currentTab == 'others'}">
            <a ng-click="changeTab('others')">其他设置</a>
        </li>

    </ul>
    <div ng-if="currentTab == 'general'" class="m-t-10 m-b-10">
        <!-- <div class="form-group">
            <label class="control-label">系列名称</label>
            <input name="name" type="text" class="form-control" ng-model="options.series_Name" placeholder="" />
        </div> -->
        <div class="form-group"  >
            <label class="control-label">节点名称</label>
            <ui-select name="xAxisColumn" required ng-model="options.form.xAxisColumn">
                <ui-select-match placeholder="选择数据...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="column in columnNames">
                    <span ng-bind-html="column | highlight: $select.search"></span>
                    <span> </span>
                    <small class="text-muted" ng-bind="columns[column].type"></small>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group"  >
            <label class="control-label">源节点</label>
            <ui-select name="xAxisColumn" required ng-model="options.form.sAxisColumn">
                <ui-select-match placeholder="选择数据...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="column in columnNames">
                    <span ng-bind-html="column | highlight: $select.search"></span>
                    <span> </span>
                    <small class="text-muted" ng-bind="columns[column].type"></small>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group"  >
            <label class="control-label">目标节点</label>
            <ui-select name="xAxisColumn" required ng-model="options.form.tAxisColumn">
                <ui-select-match placeholder="选择数据...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="column in columnNames">
                    <span ng-bind-html="column | highlight: $select.search"></span>
                    <span> </span>
                    <small class="text-muted" ng-bind="columns[column].type"></small>
                </ui-select-choices>
            </ui-select>
        </div>


        <!-- <div class="form-group"  >
            <label class="control-label">线宽数据</label>
            <ui-select name="xAxisColumn" required ng-model="options.form.lineAxisColumn">
                <ui-select-match placeholder="选择数据...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="column in columnNames">
                    <span ng-bind-html="column | highlight: $select.search"></span>
                    <span> </span>
                    <small class="text-muted" ng-bind="columns[column].type"></small>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group"  >
            <label class="control-label">节点数值</label>
            <ui-select name="xAxisColumn" required ng-model="options.form.sizeAxisColumn">
                <ui-select-match placeholder="选择数据...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="column in columnNames">
                    <span ng-bind-html="column | highlight: $select.search"></span>
                    <span> </span>
                    <small class="text-muted" ng-bind="columns[column].type"></small>
                </ui-select-choices>
            </ui-select>
        </div> -->

    </div>

    

    <div ng-if="currentTab == 'style'" class="m-t-10 m-b-10">
        <div class="form-group" ng-init="Show = 0">
            <div class="form-group" style="width:49%;float:left">
                <label>
                    <input type="radio" value="0" ng-model="Show">
                    标题设置
                </label>
            </div>
            <div class="form-group" style="width:49%;float:right">
                <label>
                    <input type="radio" value="1" ng-model="Show">
                    图表设置
                </label>
            </div>
            <div class="form-group" style="width:49%;float:left">
                <label>
                    <input type="radio" value="2" ng-model="Show">
                    节点设置
                </label>
            </div>
            <div class="form-group" style="width:49%;float:right">
                <label>
                    <input type="radio" value="3" ng-model="Show">
                    颜色设置
                </label>
            </div>
        </div>

        <div class="form-group" ng-if="Show == 0">
            <div class="form-group" style="width:49%;float:left">
                <label class="control-label">图表标题水平位置(单位:百分比，如50%)</label>
                <input name="name" style="width:100%" type="text" class="form-control" ng-model="options.title.left"
                    placeholder="" />
                <label class="control-label">主标题</label>
                <input name="name" style="width:100%" type="text" class="form-control" ng-model="options.title.text"
                    placeholder="" />
                <label class="control-label">主标题字体大小</label>
                <input name="name" style="width:100%" type="text" class="form-control"
                    ng-model="options.title.textStyle.fontSize" placeholder="" />
                <label class="control-label">主标题字体颜色</label>
                <ui-select class="mini" ng-model="options.title.textStyle.color">
                    <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Color.value as Color in Colors">
                        <div ng-bind-html="Color.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <label class="control-label">主标题粗细</label>
                <ui-select ng-model="options.title.textStyle.fontWeight">
                    <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="LabelFontWeight.value as LabelFontWeight in LabelFontWeights">
                        <div ng-bind-html="LabelFontWeight.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <label class="control-label">主标题字体风格</label>
                <ui-select ng-model="options.title.textStyle.fontStyle">
                    <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="FontStyle.value as FontStyle in FontStyles">
                        <div ng-bind-html="FontStyle.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <label class="control-label">主标题字体系列</label>
                <ui-select ng-model="options.title.textStyle.fontFamily">
                    <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="LabelFontFamily.value as LabelFontFamily in LabelFontFamilys">
                        <div ng-bind-html="LabelFontFamily.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <label class="control-label">主副标题对齐方式</label>
                <ui-select ng-model="options.title.textAlign">
                    <ui-select-match placeholder="对齐方式...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="TextAlign.value as TextAlign in TextAligns">
                        <div ng-bind-html="TextAlign.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group" style="width:49%;float:right">
                <label class="control-label">图表标题垂直位置(单位:百分比，如50%)</label>
                <input name="name" style="width:100%" type="text" class="form-control" ng-model="options.title.top"
                    placeholder="" />
                <label class="control-label">副标题</label>
                <input name="name" style="width:100%" type="text" class="form-control" ng-model="options.title.subtext"
                    placeholder="" />
                <label class="control-label">副标题字体大小</label>
                <input name="name" style="width:100%" type="text" class="form-control"
                    ng-model="options.title.subtextStyle.fontSize" placeholder="" />
                <label class="control-label">副标题字体颜色</label>
                <ui-select ng-model="options.title.subtextStyle.color">
                    <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Color.value as Color in Colors">
                        <div ng-bind-html="Color.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <label class="control-label">副标题粗细</label>
                <ui-select ng-model="options.title.subtextStyle.fontWeight">
                    <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="LabelFontWeight.value as LabelFontWeight in LabelFontWeights">
                        <div ng-bind-html="LabelFontWeight.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <label class="control-label">副标题字体风格</label>
                <ui-select ng-model="options.title.subtextStyle.fontStyle">
                    <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="FontStyle.value as FontStyle in FontStyles">
                        <div ng-bind-html="FontStyle.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <label class="control-label">副标题字体系列</label>
                <ui-select style="height:10px;" ng-model="options.title.subtextStyle.fontFamily">
                    <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="LabelFontFamily.value as LabelFontFamily in LabelFontFamilys">
                        <div ng-bind-html="LabelFontFamily.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-group" ng-if="Show == 1">
            <div class="form-group" style="width:49%;float:left">
                <label class="control-label">组件离容器左侧的距离(单位:百分比，如50%)</label>
                <input style="width:100%" ng-model="options.grid.left" type="text" class="form-control" placeholder="0">
                <label class="control-label">组件离容器上侧的距离(单位:百分比，如50%)</label>
                <input style="width:100%" ng-model="options.grid.top" type="text" class="form-control" placeholder="0">

                <label class="control-label">布局方式</label>
                <ui-select ng-model="options.layout">
                    <ui-select-match placeholder="布局方式...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Layout.value as Layout in Layouts">
                        <div ng-bind-html="Layout.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group" style="width:49%;float:right">
                <label class="control-label">组件离容器右侧的距离(单位:百分比，如50%)</label>
                <input style="width:100%" ng-model="options.grid.right" type="text" class="form-control"
                    placeholder="0">
                <label class="control-label">组件离容器下侧的距离(单位:百分比，如50%)</label>
                <input style="width:100%" ng-model="options.grid.bottom" type="text" class="form-control"
                    placeholder="0">
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="options.size.responsive">
                    图表尺寸自适应
                </label>
            </div>
            <div class="form-group" style="width:49%;float:left" ng-if="!options.size.responsive">
                <label class="control-label">图表宽度(单位:px)</label>
                <input name="name" type="text" class="form-control" ng-model="options.size.width" placeholder="600" />
            </div>
            <div class="form-group" style="width:49%;float:right" ng-if="!options.size.responsive">
                <label class="control-label">图表高度(单位:px)</label>
                <input name="name" type="text" class="form-control" ng-model="options.size.height" placeholder="400" />
            </div>


        </div>

        <div class="form-group" ng-if="Show == 2">
            <div class="form-group" style="width:49%;float:left">
                <label class="control-label">选择设置节点</label>
                <ui-select name="name" required ng-model="options.useNode">
                    <ui-select-match placeholder="选择节点...">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="column in options.node ">
                        <span ng-bind-html="column | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
                <label class="control-label">节点坐标X</label>
                <input name="name" style="width:100%" type="text" class="form-control"
                    ng-model="options.nodeX[options.useNode_Index]" placeholder="0" />
                <label class="control-label">节点形状</label>
                <ui-select ng-model="options.nodeSymbol[options.useNode_Index]">
                    <ui-select-match placeholder="节点形状...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Symbol.value as Symbol in Symbols">
                        <div ng-bind-html="Symbol.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>

               

                <!-- <label class="control-label">连线样式</label>
                <ui-select ng-model="options.linkStyle[options.useNode_Index]">
                    <ui-select-match placeholder="连线样式...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="LineStyle.value as LineStyle in LineStyles">
                        <div ng-bind-html="LineStyle.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <label class="control-label">线宽</label>
                <input name="name" type="text" class="form-control" ng-model="options.linkSize[options.useNode_Index]"
                    placeholder="2" /> -->

            </div>
            <div class="form-group" style="width:49%;float:right">
                <label class="control-label">节点颜色</label>
                <ui-select ng-model="options.nodeColor[options.useNode_Index]">
                    <ui-select-match placeholder="节点颜色...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Color.value as Color in BackgroundColors">
                        <div ng-bind-html="Color.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <label class="control-label">节点坐标Y</label>
                <input name="name" style="width:100%" type="text" class="form-control"
                    ng-model="options.nodeY[options.useNode_Index]" placeholder="0" />
                <label class="control-label">节点大小</label>
                <input name="name" type="text" class="form-control" ng-model="options.nodeSize[options.useNode_Index]"
                    placeholder="35" />

                <label class="control-label">文字颜色</label>
                <ui-select ng-model="options.nodeLabColor[options.useNode_Index]">
                    <ui-select-match placeholder="文字颜色...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Color.value as Color in BackgroundColors">
                        <div ng-bind-html="Color.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>

                <!-- <label class="control-label">连线颜色</label>
                <ui-select ng-model="options.linkColor[options.useNode_Index]">
                    <ui-select-match placeholder="连线颜色...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Color.value as Color in BackgroundColors">
                        <div ng-bind-html="Color.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select> -->

            </div>
        </div>

        <div class="form-group" ng-if="Show == 3">
            <div class="form-group" style="width:49%;float:left">
                <label class="control-label">背景颜色</label>
                <ui-select ng-model="options.backgroundColor">
                    <ui-select-match placeholder="背景颜色...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Color.value as Color in BackgroundColors">
                        <div ng-bind-html="Color.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>

            </div>
            <div class="form-group" style="width:49%;float:right">
                <label class="control-label">指标文字颜色</label>
                <ui-select ng-model="options.zbColor">
                    <ui-select-match placeholder="选择颜色...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Color.value as Color in BackgroundColors">
                        <div ng-bind-html="Color.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

        </div>

    </div>

    <div ng-if="currentTab == 'others'" class="m-t-10 m-b-10">
        <div class="form-group" style="width:49%;float:left">
            <label>
                <input type="checkbox" ng-model="options.toolbox.show">
                显示工具栏
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.tooltip.show">
                显示提示框
            </label>
        </div>
        <div class="form-group" ng-if="options.tooltip.show">
            <label class="control-label">文本提示框背景颜色</label>
            <ui-select ng-model="options.tooltip.axisPointer.label.backgroundColor">
                <ui-select-match placeholder="颜色...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="Color.value as Color in Colors">
                    <div ng-bind-html="Color.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.form.isCodeEnabled">
                使用用户自定义代码设置图表
            </label>
        </div>
        <div class="form-group" ng-if="options.form.isCodeEnabled">
            <textarea rows="15" style="width:100%;resize: none;" ng-model="options.form.code"></textarea>
        </div>
    </div>

</div>