<div class="layout-content-wrapper">
  <query-page-header query="query"></query-page-header>
  <main class="query-fullscreen">
    <nav
      resizable
      r-directions="['right']"
      r-flex="true"
      resizable-toggle
      toggle-shortcut="Alt+Shift+D, Alt+D"
    >

      <form style="padding-left: 15px;padding-right: 15px" ng-if="query.isNew()">
        <div class="form-group" style="margin-bottom:0px">
          <label for="newQueryName">名称:</label>
          <input type="text" class="form-control" id="newQueryName" placeholder="新建查询" ng-model="query.name">
          <small id="textHelp" class="form-text text-muted">新建查询名称</small>
        </div>
      </form>

      <div class="editor__left__data-source" ng-if="!query.readOnly()">
        <div class="form-group" style="margin-bottom:3px">
          <label for="newQueryName">选择数据源:</label>
        </div>
        <ui-select
              ng-model="query.data_source_id"
              remove-selected="false"
              ng-disabled="!isQueryOwner || !sourceMode"
              on-select="updateDataSource()"
              data-test="SelectDataSource"
      >
          <ui-select-match placeholder="选择数据源..."
          >{{$select.selected.name}}</ui-select-match
          >
          <ui-select-choices
                  repeat="ds.id as ds in dataSources | filter:$select.search"
          >
              {{ds.name}}
          </ui-select-choices>
      </ui-select>
      </div>
      <div class = "editor__left__data-source" ng-if=" getQueryType() === 'redis29'"
      >
          <label >选择数据类型:</label>
          <ui-select
                  ng-model="selectedDataType.value"
                  remove-selected="false"
                  ng-disabled="!isQueryOwner || !sourceMode"
                  on-select="updateDataSource()"
          >
              <ui-select-match placeholder="选择数据类型...">
              <span ng-bind="$select.selected.name">
            </span>
              </ui-select-match>
              <ui-select-choices
                      repeat="item in redisDataType | filter:$select.search"
              >
                  <span ng-bind = "item.name"></span>
              </ui-select-choices>
          </ui-select>
      </div>


      <div class="editor__left__schema">
        <schema-browser
          class="schema-container"
          schema="schema"
          change-flag="changeFlag"
          on-refresh="refreshSchema()"
          ng-if="sourceMode && getQueryType() !== 'excelupload'&& getQueryType() !== 'csvupload'"
        ></schema-browser>
        
        <file-uploader
          fileurl="query.query"
          disabled="!isQueryOwner || !sourceMode"
          ng-if="getQueryType() === 'excelupload'||getQueryType() == 'csvupload'"
          update-url="updateQuery"
        />
      </div>
      <div ng-if="!sourceMode" style="flex-grow: 1;">&nbsp;</div>

      <div class="query-metadata ">
        <button type="button" class="btn btn-primary btn-sm btn-block"   ng-if="simpleQuery" ng-model="simpleQuery" ng-click="onSimpleQueryClick(simpleQuery)">
          <i class="fa fa-book"></i>&nbsp;&nbsp;切换为简单查询模式
        </button>
        <!-- ng-init="simpleQuery=false" -->
        <button type="button" class="btn btn-primary btn-sm btn-block" ng-if="!simpleQuery" ng-model="simpleQuery" ng-click="onSimpleQueryClick(simpleQuery)">
          <i class="fa fa-book"></i>&nbsp;&nbsp;切换为高级查询模式
        </button>
      </div>
      <div
        class="query-metadata query-metadata--history"
        ng-if="!query.isNew()"
      >
        <table>
          <tr>
            <td>
              <strong
                class="meta__name"
                ng-class="{'text-muted': query.user.is_disabled}"
                >{{query.user.name}}</strong
              >
            </td>
            <td class="text-right">
              创建于:
              <strong>
                <rd-time-ago value="query.created_at"></rd-time-ago>
              </strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong
                class="meta__name"
                ng-class="{'text-muted': query.last_modified_by.is_disabled}"
                >{{query.last_modified_by.name}}</strong
              >
            </td>
            <td class="text-right">
              最后更新:
              <strong>
                <rd-time-ago value="query.updated_at"></rd-time-ago>
              </strong>
            </td>
          </tr>
          <tr>
            <td class="p-t-15">
              <span class="query-metadata__property">刷新目录:</span>
            </td>
            <td class="p-t-15 text-right">
              <schedule-phrase
                ng-click="editSchedule()"
                is-link="true"
                schedule="query.schedule"
                is-new="query.isNew()"
              />
            </td>
          </tr>
        </table>
      </div>
    </nav>

    <div class="content">
      <div class="flex-fill p-relative">
        <div
          class="p-absolute d-flex flex-column p-l-15 p-r-15"
          style="left: 0; top: 0; right: 0; bottom: 0; overflow: auto"
        >
          <div
            class="row editor"
            resizable
            r-directions="['bottom']"
            r-flex="true"
            resizable-toggle
            style="min-height: 11px; max-height: 70vh;"
            ng-if="sourceMode"
          >
            <query-editor
              style="width: 100%; height: 100%;"
              file-upload="getQueryType() === 'excelupload'"
              query-text="query.query"
              schema="schema"
              syntax="dataSource.syntax"
              can-edit="canEdit"
              is-dirty="isDirty"
              is-query-owner="isQueryOwner"
              update-data-source="updateDataSource"
              execute-query="executeQuery"
              query-executing="queryExecuting"
              can-execute-query="canExecuteQuery"
              listen-for-resize="listenForResize"
              listen-for-editor-command="listenForEditorCommand"
              save-query="saveQuery"
              update-query="updateQuery"
              update-selected-query="updateSelectedQuery"
              add-new-parameter="addNewParameter"
              data-data-source="dataSource"
              data-data-sources="dataSources"
              is-simple="simpleQuery"
            ></query-editor>
          </div>

          <div class="row query-metadata__mobile">
            <img
              ng-src="{{ query.user.profile_image_url }}"
              class="profile__image_thumb"
            />
            <div class="flex-fill m-r-10">
              <strong
                class="meta__name"
                ng-class="{'text-muted': query.user.is_disabled}"
                >{{query.user.name}}</strong
              >
              created <rd-time-ago value="query.created_at"></rd-time-ago>
            </div>

            <img
              ng-src="{{ query.last_modified_by.profile_image_url }}"
              class="profile__image_thumb"
            />
            <div class="flex-fill m-r-10">
              <strong
                class="meta__name"
                ng-class="{'text-muted': query.last_modified_by.is_disabled}"
                >{{query.last_modified_by.name}}</strong
              >
              updated <rd-time-ago value="query.updated_at"></rd-time-ago>
            </div>

            <div>
              <span class="query-metadata__property">Refresh schedule:</span>
              <schedule-phrase
                ng-click="editSchedule()"
                is-link="true"
                schedule="query.schedule"
                is-new="query.isNew()"
              />
            </div>
          </div>

          <section
            class="flex-fill p-relative t-body query-visualizations-wrapper"
          >
            <div
              class="d-flex flex-column p-b-15 p-absolute static-position__mobile"
              style="left: 0; top: 0; right: 0; bottom: 0;"
            >
              <div
                class="p-t-15 p-b-5"
                ng-if="query.getParametersDefs().length > 0"
              >
                <parameters
                  parameters="query.getParametersDefs()"
                  sync-values="!query.isNew()"
                  editable="sourceMode && canEdit"
                  on-updated="onParametersUpdated"
                ></parameters>
              </div>
              <!-- Query Execution Status -->

              <div class="query-alerts">
                <div
                  class="alert alert-info m-t-15"
                  ng-if="queryResult.getStatus() == 'processing'"
                >
                  Executing query&hellip;
                  <rd-timer from="queryResult.getUpdatedAt()"></rd-timer>
                  <button
                    type="button"
                    class="btn btn-warning btn-xs pull-right"
                    ng-disabled="cancelling"
                    ng-click="cancelExecution()"
                  >
                    Cancel
                  </button>
                </div>
                <div
                  class="alert alert-info m-t-15"
                  ng-if="queryResult.getStatus() == 'loading-result'"
                >
                  Loading results&hellip;
                  <rd-timer from="queryResult.getUpdatedAt()"></rd-timer>
                </div>
                <div
                  class="alert alert-info m-t-15"
                  ng-if="queryResult.getStatus() == 'waiting'"
                >
                  Query in queue&hellip;
                  <rd-timer from="queryResult.getUpdatedAt()"></rd-timer>
                  <button
                    type="button"
                    class="btn btn-warning btn-xs pull-right"
                    ng-disabled="cancelling"
                    ng-click="cancelExecution()"
                  >
                    Cancel
                  </button>
                </div>
                <div
                  class="alert alert-danger m-t-15"
                  ng-if="queryResult.getError()"
                >
                  Error running query:
                  <strong>{{queryResult.getError()}}</strong>
                </div>
              </div>
              <!-- End of Query Execution Status -->

              <!-- tabs and data -->
              <div ng-if="showDataset" class="flex-fill p-relative">
                <div
                  class="d-flex flex-column p-absolute static-position__mobile"
                  style="left: 0; top: 0; right: 0; bottom: 0;background-color: #25374C"
                >
                  <div class="p-10" ng-show="showLog">
                    <p>Log Information:</p>
                    <p ng-repeat="l in queryResult.getLog()">{{l}}</p>
                  </div>
                  <div class="query__vis m-t-15 p-b-15 scrollbox">
                    <filters filters="filters"></filters>
                    <grid-renderer
                      query-result="queryResult"
                      items-per-page="10"
                    ></grid-renderer>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="bottom-controller-container" ng-if="showDataset">
        <div class="bottom-controller">
          <!--
              <button class="m-r-5 btn btn-default btn-edit-visualisation" ng-click="openVisualizationEditor(selectedTab)" ng-if="!query.isNew() && canEdit"><span class="fa fa-edit"></span><span class="hidden-xs hidden-s hidden-m"> {{'VISUALIZATION.EDIT_VISUALIZATION' | translate}}</span></button>

              <div class="m-r-5 btn-group dropup" uib-dropdown>
                <button type="button" class="btn btn-default dropup-toggle" aria-haspopup="true"
                        uib-dropdown-toggle aria-expanded="false">
                  <span class="fa fa-ellipsis-v"></span>
                </button>

                <ul class="dropdown-menu" uib-dropdown-menu>
                  <li>
                    <a ng-show="!sourceMode" ng-href="{{query.getUrl(true, selectedTab)}}" class="btn btn-default btn--showhide">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'QUERY.EDIT'|translate}}</i>
                    </a>
                  </li>
                  <li>
                    <a ng-click="showEmbedDialog(query, selectedTab)" ng-if="!query.isNew()" data-test="ShowEmbedDialogButton">
                      <span class="zmdi zmdi-code"></span> {{'VISUALIZATION.EMBED_ELSEWHERE' | translate}}
                    </a>
                  </li>
                  <li>
                    <a query-result-link target="_self" ng-disabled="queryExecuting || !queryResult.getData()">
                      <span class="fa fa-file-o"></span> {{'VISUALIZATION.CSV' | translate}}
                    </a>
                  </li>
                  <li>
                    <a query-result-link file-type="xlsx" target="_self" ng-disabled="queryExecuting || !queryResult.getData()">
                      <span class="fa fa-file-excel-o"></span> {{'VISUALIZATION.EXC' | translate}}
                    </a>
                  </li>
                </ul>

              </div>
          -->
          <span class="query-metadata__bottom" ng-if="queryResult.getData()">
            <span class="query-metadata__property">
              <strong>{{queryResult.getData().length}}</strong>
              <ng-pluralize
                count="queryResult.getData().length"
                when="{'0': ' 行', 'one': ' 行', 'other': ' 行'}"
              ></ng-pluralize>
            </span>
            <span class="query-metadata__property">
              <strong ng-show="!queryExecuting"
                >{{queryResult.getRuntime() | durationHumanize}}</strong
              >
              <span ng-show="queryExecuting">Running&hellip;</span>
              <span class="hidden-xs">运行时间</span>
            </span>
            <span
              class="query-metadata__property"
              ng-if="queryResult.query_result.data.metadata.data_scanned"
              >Data Scanned
              <strong
                >{{ queryResult.query_result.data.metadata.data_scanned |
                prettySize}}</strong
              >
            </span>
          </span>

          <div>
            <span class="query-metadata__property hidden-xs">
              <span class="hidden-xs">更新于: </span>
              <rd-time-ago
                value="queryResult.query_result.retrieved_at"
              ></rd-time-ago>
            </span>

            <button
              class="m-l-5 btn btn-primary"
              ng-click="executeQuery()"
              ng-disabled="queryExecuting || !canExecuteQuery()"
              title="Refresh Dataset"
              ng-if="!sourceMode"
            >
              <span class="zmdi zmdi-play"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
