<div>
    <ul class="tab-nav">
        <li ng-class="{active: currentTab == 'general'}">
            <a ng-click="changeTab('general')">数据设置</a>
        </li>

        <li ng-class="{active: currentTab == 'style'}">
            <a ng-click="changeTab('style')">样式设置</a>
        </li>

        <li ng-class="{active: currentTab == 'others'}">
            <a ng-click="changeTab('others')">其他设置</a>
        </li>
        <li ng-class="{active: currentTab == 'code'}">
            <a ng-click="changeTab('code')">用户自定义</a>
        </li>
    </ul>

    <div ng-if="currentTab == 'general'" class="m-t-10 m-b-10">
        <div class="form-group">
            <label class="control-label">数据集</label>
            <queries-list query-search-cb="$ctrl.querySearchCb" chart-type="$ctrl.chartType"></queries-list>
        </div>
        <div class="form-group">
            <label class="control-label">图表径向轴(距离)所在数据</label>
            <ui-select name="xAxisColumn" required ng-model="options.form.xAxisColumn">
                <ui-select-match placeholder="选择列...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="column in columnNames">
                    <span ng-bind-html="column | highlight: $select.search"></span>
                    <span> </span>
                    <small class="text-muted" ng-bind="columns[column].type"></small>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group">
            <label class="control-label">图表角度轴所在数据集</label>
            <ui-select name="yAxisColumn" required ng-model="options.form.yAxisColumn">
                <ui-select-match placeholder="选择列...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="column in columnNames">
                    <span ng-bind-html="column | highlight: $select.search"></span>
                    <span> </span>
                    <small class="text-muted" ng-bind="columns[column].type"></small>
                </ui-select-choices>
            </ui-select>
        </div>

    </div>

    <div ng-if="currentTab == 'style'" class="m-t-10 m-b-10">
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.titleShow">
                显示主标题设置
            </label>
        </div>
        <div class="form-group" ng-if="options.titleShow">
            <div class="form-group">
                <label class="control-label">图表主标题</label>
                <input name="name" type="text" class="form-control" ng-model="options.title.text" placeholder="" />
            </div>

            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="options.titleStyleShow">
                    显示主标题字体设置
                </label>
            </div>

            <div class="form-group" ng-if="options.titleStyleShow">
                <div class="form-group">
                    <label class="control-label">图表主标题字体大小</label>
                    <input name="name" type="text" class="form-control" ng-model="options.title.textStyle.fontSize"
                        placeholder="25" />
                </div>
                <div class="form-group">
                    <label class="control-label">图表主标题字体颜色</label>
                    <ui-select ng-model="options.title.textStyle.color">
                        <ui-select-match placeholder="主标题字体颜色...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="Color.value as Color in Colors">
                            <div ng-bind-html="Color.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label class="control-label">图表主标题粗细</label>
                    <ui-select ng-model="options.title.textStyle.fontWeight">
                        <ui-select-match placeholder="主标题字体粗细...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="LabelFontWeight.value as LabelFontWeight in LabelFontWeights">
                            <div ng-bind-html="LabelFontWeight.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label class="control-label">图表主标题字体风格</label>
                    <ui-select ng-model="options.title.textStyle.fontStyle">
                        <ui-select-match placeholder="字体风格...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="FontStyle.value as FontStyle in FontStyles">
                            <div ng-bind-html="FontStyle.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label class="control-label">图表主标题字体系列</label>
                    <ui-select ng-model="options.title.textStyle.fontFamily">
                        <ui-select-match placeholder="字体系列...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="LabelFontFamily.value as LabelFontFamily in LabelFontFamilys">
                            <div ng-bind-html="LabelFontFamily.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <hr>
            <hr>
        </div>

        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.subtitleShow">
                显示副标题设置
            </label>
        </div>
        <div class="form-group" ng-if="options.subtitleShow">
            <div class="form-group">
                <label class="control-label">图表副标题</label>
                <input name="name" type="text" class="form-control" ng-model="options.title.subtext" placeholder="" />
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="options.subtitleStyleShow">
                    显示副标题字体设置
                </label>
            </div>
            <div class="form-group" ng-if="options.subtitleStyleShow">
                <div class="form-group">
                    <label class="control-label">图表副标题字体大小</label>
                    <input name="name" type="text" class="form-control" ng-model="options.title.subtextStyle.fontSize"
                        placeholder="18" />
                </div>
                <div class="form-group">
                    <label class="control-label">图表副标题字体颜色</label>
                    <ui-select ng-model="options.title.subtextStyle.color">
                        <ui-select-match placeholder="副标题字体颜色...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="Color.value as Color in Colors">
                            <div ng-bind-html="Color.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label class="control-label">图表副标题粗细</label>
                    <ui-select ng-model="options.title.subtextStyle.fontWeight">
                        <ui-select-match placeholder="副标题字体粗细...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="LabelFontWeight.value as LabelFontWeight in LabelFontWeights">
                            <div ng-bind-html="LabelFontWeight.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label class="control-label">图表副标题字体风格</label>
                    <ui-select ng-model="options.title.subtextStyle.fontStyle">
                        <ui-select-match placeholder="字体风格...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="FontStyle.value as FontStyle in FontStyles">
                            <div ng-bind-html="FontStyle.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label class="control-label">图表副标题字体系列</label>
                    <ui-select ng-model="options.title.subtextStyle.fontFamily">
                        <ui-select-match placeholder="字体系列...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="LabelFontFamily.value as LabelFontFamily in LabelFontFamilys">
                            <div ng-bind-html="LabelFontFamily.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <hr>
            <hr>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.titleLocationShow">
                显示标题位置设置
            </label>
        </div>
        <div class="form-group" ng-if="options.titleLocationShow">
            <div class="form-group">
                <label class="control-label">图表标题水平位置(单位:px或百分比:如50%)</label>
                <input name="name" type="text" class="form-control" ng-model="options.title.left" placeholder="" />
            </div>
            <div class="form-group">
                <label class="control-label">图表标题垂直位置(单位:px或百分比:如50%)</label>
                <input name="name" type="text" class="form-control" ng-model="options.title.top" placeholder="" />
            </div>
            <div class="form-group">
                <label class="control-label">主副标题对齐方式</label>
                <ui-select ng-model="options.title.textAlign">
                    <ui-select-match placeholder="对齐方式...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="TextAlign.value as TextAlign in TextAligns">
                        <div ng-bind-html="TextAlign.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.seriesShow">
                显示系列设置
            </label>
        </div>
        <div class="form-group" ng-if="options.seriesShow">
            <div class="form-group">
                <label class="control-label">系列名称</label>
                <input name="name" type="text" class="form-control" ng-model="options.series_Name" placeholder="" />
            </div>

            <div class="form-group">
                <label class="control-label">系列颜色</label>
                <ui-select ng-model="options.series_ItemStyle_Color">
                    <ui-select-match placeholder="系列颜色...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Color.value as Color in Colors">
                        <div ng-bind-html="Color.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>



            <div class="form-group">
                <label class="control-label">标记点大小(单位:px)</label>
                <input name="name" type="text" class="form-control" ng-model="options.series_SymbolSize"
                    placeholder="16" />
            </div>
            <div class="form-group">
                <label class="control-label">标记点形状</label>
                <ui-select ng-model="options.series_Symbol">
                    <ui-select-match placeholder="选择标记点形状...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Symbol.value as Symbol in Symbols">
                        <div ng-bind-html="Symbol.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label class="control-label">标记点旋转角度</label>
                <input name="name" type="text" class="form-control" ng-model="options.series_SymbolRotate"
                    placeholder="0" />
            </div>
            <hr>
            <hr>


        </div>


        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.colorShow">
                显示颜色详细设置(背景，轴相关)
            </label>
        </div>
        <div class="form-group" ng-if="options.colorShow">
            <div class="form-group">
                <label class="control-label">页面背景颜色</label>
                <ui-select ng-model="options.backgroundColor">
                    <ui-select-match placeholder="背景颜色...">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="Color.value as Color in BackgroundColors">
                        <div ng-bind-html="Color.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="options.radiusColorShow">
                    显示径向轴颜色详细设置
                </label>
            </div>
            <div class="form-group" ng-if="options.radiusColorShow">
                <div class="form-group">
                    <label class="control-label">径向坐标轴线的颜色 </label>
                    <ui-select ng-model="options.radiusAxis.axisLine.lineStyle.color">
                        <ui-select-match placeholder="背景颜色...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="Color.value as Color in Colors">
                            <div ng-bind-html="Color.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label class="control-label">径向坐标轴分割线的颜色 </label>
                    <ui-select ng-model="options.radiusAxis.splitLine.lineStyle.color">
                        <ui-select-match placeholder="背景颜色...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="Color.value as Color in Colors">
                            <div ng-bind-html="Color.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                </div>
                <div class="form-group">
                    <label class="control-label">径向坐标轴环形分割区域的颜色 </label>

                    <ui-select ng-model="options.radiusAxis.splitArea.areaStyle.color1">
                        <ui-select-match placeholder="分割区域的颜色1...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="Color.value as Color in Colors">
                            <div ng-bind-html="Color.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <ui-select ng-model="options.radiusAxis.splitArea.areaStyle.color2">
                        <ui-select-match placeholder="分割区域的颜色2...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="Color.value as Color in Colors">
                            <div ng-bind-html="Color.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <hr>
                <hr>
            </div>

            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="options.angleColorShow">
                    显示角度轴颜色详细设置
                </label>
            </div>
            <div class="form-group" ng-if="options.angleColorShow">
                <div class="form-group">
                    <label class="control-label">角度轴线的颜色 </label>
                    <ui-select ng-model="options.angleAxis.axisLine.lineStyle.color">
                        <ui-select-match placeholder="背景颜色...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="Color.value as Color in Colors">
                            <div ng-bind-html="Color.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group">
                    <label class="control-label">角度轴分割线的颜色 </label>
                    <ui-select ng-model="options.angleAxis.splitLine.lineStyle.color">
                        <ui-select-match placeholder="背景颜色...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="Color.value as Color in Colors">
                            <div ng-bind-html="Color.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label class="control-label">角度轴扇形分割区域的颜色</label>
                    <ui-select ng-model="options.angleAxis.splitArea.areaStyle.color1">
                        <ui-select-match placeholder="背景颜色...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="Color.value as Color in Colors">
                            <div ng-bind-html="Color.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <ui-select ng-model="options.angleAxis.splitArea.areaStyle.color2">
                        <ui-select-match placeholder="背景颜色...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="Color.value as Color in Colors">
                            <div ng-bind-html="Color.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.tooltip.show">
                显示鼠标提示框
            </label>
        </div>

        <div class="form-group" ng-if="options.tooltip.show">
            <label class="control-label">提示框格式</label>
            <br>
            <input name="name" type="text" style="width: 150px;" ng-model="options.Text_a" placeholder="系列名称：" />
            <input name="name" type="text" style="width: 150px;" placeholder="系列名称值" disabled="true" />
            <input name="name" type="text" style="width: 150px;" ng-model="options.a_Text" placeholder="系列名称后缀：" />

            <input name="name" type="text" style="width: 150px;" ng-model="options.Text_b" placeholder="类目一名称：" />
            <input name="name" type="text" style="width: 150px;" placeholder="类目一(距离)数值" disabled="true" />
            <input name="name" type="text" style="width: 150px;" ng-model="options.b_Text" placeholder="类目一单位：" />

            <input name="name" type="text" style="width: 150px;" ng-model="options.Text_c" placeholder="类目二名称：" />
            <input name="name" type="text" style="width: 150px;" placeholder="类目二(角度)数值" disabled="true" />
            <input name="name" type="text" style="width: 150px;" ng-model="options.c_Text" placeholder="类目二单位：" />
            <hr>
            <hr>
        </div>



        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.toolbox.show">
                显示工具栏
            </label>
        </div>
    </div>





    <div ng-if="currentTab == 'others'" class="m-t-10 m-b-10">
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.size.responsive">
                图表尺寸自适应
            </label>
        </div>
        <div class="form-group" ng-if="!options.size.responsive">
            <label class="control-label">图表宽度(单位:px)</label>
            <input name="name" type="text" class="form-control" ng-model="options.size.width" placeholder="600" />
        </div>
        <div class="form-group" ng-if="!options.size.responsive">
            <label class="control-label">图表高度(单位:px)</label>
            <input name="name" type="text" class="form-control" ng-model="options.size.height" placeholder="400" />
        </div>
        <div class="form-group">
            <label class="control-label">图例名称</label>
            <input name="name" type="text" class="form-control" ng-model="options.series_Name" placeholder="" />
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.legend.show">
                显示图例
            </label>
        </div>
        <div class="form-group">
            <label class="control-label">图例对齐方式</label>
            <ui-select ng-model="options.legend.left">
                <ui-select-match placeholder="对齐方式...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices repeat="LegendAliNumb.value as LegendAliNumb in LegendAliNumbs">
                    <div ng-bind-html="LegendAliNumb.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.toolbox.show">
                显示工具栏
            </label>
        </div>


    </div>

    <div ng-if="currentTab == 'code'" class="m-t-10 m-b-10">
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="options.form.isCodeEnabled">
                使用用户自定义代码设置图表
            </label>
        </div>

        <div class="form-group">
            <textarea rows="15" style="width:100%;resize: none;" ng-model="options.form.code"></textarea>
        </div>
    </div>




</div>