<div class="layout-setting-wrapper">
  <page-header title="'HEADER.SETTINGS' | translate"></page-header>

  <div class="bg-white tiled">
    <ul class="tab-nav">
      <li
        ng-repeat="menuItem in $ctrl.settingsMenu.items"
        ng-if="$ctrl.isAvailable(menuItem.permission)"
        ng-class="{'active': $ctrl.isActive(menuItem)}"
      >
        <a href="{{menuItem.path}}">{{ menuItem.title | translate }}</a>
      </li>

    </ul>
    <div class="p-15">
      <div ng-transclude>

      </div>
    </div>
  </div>
</div>
