<!-- <div class="form-horizontal">
  
  <div class="form-group">
    <div class="col-lg-6">
      <label>
        <input type="checkbox" ng-model="visualization.options.controls.enabled">
        隐藏透视控制
      </label>
    </div>
  </div>
  <label class="control-label">背景颜色</label>
  <input type="color" ng-model="visualization.options.bgcolor" />

</div> -->


<div class="form-horizontal">
  <label>
    <input type="checkbox" ng-model="visualization.options.controls.enabled">
    隐藏透视控制
  </label>
  <br />
  <label class="control-label">背景</label>
  <input type="color" ng-model="visualization.options.bgcolor" />
  <input type="text"  ng-model="visualization.options.bgcolorOpacity " placeholder="0" />
  <br />

  <label class="control-label">表头背景</label>
  <input type="color" ng-model="visualization.options.tableHeadBgColor" />
  <input type="text" style="width: 20%;" ng-model="visualization.options.tableHeadBgColorOpacity " placeholder="0" />
  <input type="color" ng-model="visualization.options.tableHeadColor" />
  <br />

  <label class="control-label">表内背景</label>
  <input type="color" ng-model="visualization.options.tablebgcolor" />
  <input type="text" style="width: 20%;" ng-model="visualization.options.tablebgcolorOpacity " placeholder="0" />
  <input type="color" ng-model="visualization.options.tableColor" />


</div>